:root {

/* Hue */

	--h-o:		020;	/*	orange	*/
	--h-g:		120;	/*	green		*/
	--h-s:		190;	/*	sea			*/
	--h-b:		210;	/*	blue		*/
	--h-r:		350;	/*	red		*/


/* Saturation */

	--s-5:		050%;


/* Lightness */

	--l-10:		100%;
	--l-9:		090%;
	--l-8:		080%;
	--l-7:		070%;
	--l-6:		060%;
	--l-5:		050%;
	--l-4:		040%;
	--l-3:		030%;
	--l-2:		020%;
	--l-1:		010%;
	--l-0-7:	007%;
	--l-0:		000%;



/* --- COLORS --- */
															/* 	NOW			-	BEFORE		*/
/* --- L - light --- */

	--l1:	hsl(var(--h-b),	var(--s-5),	var(--l-6));		/*	#4080bf	-	#808080	*/
	--l2:	hsl(var(--h-b),	var(--s-5),	var(--l-3));		/*	#19334d	-	#454545	*/
	--l3:	hsl(var(--h-b),	var(--s-5),	var(--l-9));		/*	#b3cce6	-	#aeccf1	*/
	--l4:	hsl(var(--h-b),	var(--s-5),	var(--l-10));		/*	#d9e6f2	-	#eeeeee	*/


/* --- B - beige --- */

	--b1:	hsl(var(--h-o),	var(--s-5),	var(--l-6));		/*	#bf6a40	-	#776c66	*/
	--b2:	hsl(var(--h-o),	var(--s-5),	var(--l-3));		/*	#4d2b19	-	#403732	*/
	--b3:	hsl(var(--h-o),	var(--s-5),	var(--l-9));		/*	#e6c4b3	-	#d2b4a5	*/
	--b4:	hsl(var(--h-o),	var(--s-5),	var(--l-10));		/*	#f2e1d9	-	#f7f3f5	*/


/* --- P - pink --- */

	--p1:	hsl(var(--h-r),	var(--s-5),	var(--l-6));		/*	#bf4055	-	#d47086	*/
	--p2:	hsl(var(--h-r),	var(--s-5),	var(--l-3));		/*	#4d1922	-	#412e33	*/
	--p3:	hsl(var(--h-r),	var(--s-5),	var(--l-9));		/*	#e6b3bb	-	#ffc8d2	*/
	--p4:	hsl(var(--h-r),	var(--s-5),	var(--l-10));		/*	#f2d9dd	-	#ffffff	*/


/* --- S - sea --- */

	--s1:	hsl(var(--h-s),	var(--s-5),	var(--l-5));		/*	#40aabf	-	#e6c583	*/
	--s2:	hsl(var(--h-s),	var(--s-5),	var(--l-7));		/*	#8cccd9	-	#f0eff4	*/
	--s3:	hsl(var(--h-s),	var(--s-5),	var(--l-3));		/*	#266673	-	#964b38	*/
	--s4:	hsl(var(--h-s),	var(--s-5),	var(--l-2));		/*	#19444d	-	#2f7b8c	*/


/* --- N - navy --- */

	--n1:	hsl(var(--h-b),	var(--s-5),	var(--l-5));		/*	#4080bf	-	#73aabe	*/
	--n2:	hsl(var(--h-b),	var(--s-5),	var(--l-7));		/*	#b3cce6	-	#e8eceb	*/
	--n3:	hsl(var(--h-b),	var(--s-5),	var(--l-2));		/*	#19334d	-	#82634f	*/
	--n4:	hsl(var(--h-b),	var(--s-5),	var(--l-1));		/*	#0d1a26	-	#2c435a	*/


/* --- D - dark --- */

	--d1:	hsl(var(--h-o),	var(--s-5),	var(--l-5));		/*	#bf6a40	-	#d0a496	*/
	--d2:	hsl(var(--h-o),	var(--s-5),	var(--l-7));		/*	#e6c4b3	-	#f7f1f0	*/
	--d3:	hsl(var(--h-o),	var(--s-5),	var(--l-2));		/*	#4d2b19	-	#8c593f	*/
	--d4:	hsl(var(--h-o),	var(--s-5),	var(--l-1));		/*	#26150d	-	#282322	*/


/* --- C - contrast --- */

	--c1:	hsl(var(--h-g),	var(--s-5),	var(--l-7));		/*	#66cc66	-	#b9ffb9	*/
	--c2:	hsl(var(--h-g),	var(--s-5),	var(--l-9));		/*	#d9f2d9	-	#5fff5f	*/
	--c3:	hsl(var(--h-g),	var(--s-5),	var(--l-1));		/*	#091b09	-	#091909	*/
	--c4:	hsl(var(--h-g),	var(--s-5),	var(--l-0));		/*	#000000	-	#000000	*/

}
