
/*
 * I can't find any way to externally load an svg and then fill it with colours.
 * Neither can this guy:
 *
 * https://stackoverflow.com/questions/75187268/is-there-a-way-to-both-load-an-svg-image-by-url-and-be-able-to-fill-it-with-css
 *
 */


/* --- ICONS --- */

.svg_prof {
}

.svg_me {
}


/* --- LANG buttons --- */

/* --- 32x32 --- */

.icon_taco path {
	d:	path("m8.9 3.8c-1.4 1.4-2.4 3.1-3 5l-0.1-0.1c-0.5-0.5-1.2-0.5-1.8 0-5.6 5.6-5.4 15.1 0.4 20.9l0.9 0.9c1.9 2 5.1 2 7.1 0l18.3-18.4c1.6-1.6 1.6-4.3 0-5.9l-1.5-1.5c-5.8-5.9-15-6.3-20.4-0.9zm0.9 20.5 0.9 0.9c1 1 1 2.6 0 3.6s-2.6 1-3.5 0l-0.9-0.9c-4.7-4.7-5.1-12.1-1-16.8-0.7 4.6 0.8 9.5 4.5 13.3zm6.2-8c0.5 0.5 0.5 1.2 0 1.8-0.5 0.5-1.2 0.5-1.8 0l-1.8-1.8c-0.5-0.5-0.5-1.2 0-1.8 0.5-0.5 1.2-0.5 1.8 0zm0.9-8c0.5 0.5 0.5 1.2 0 1.8-0.5 0.5-1.2 0.5-1.8 0l-1.8-1.8c-0.5-0.5-0.5-1.2 0-1.8 0.5-0.5 1.2-0.5 1.8 0zm9.7 0.9c0.5 0.5 0.5 1.2 0 1.8-0.5 0.5-1.2 0.5-1.8 0l-1.8-1.8c-0.5-0.5-0.5-1.2 0-1.8 0.5-0.5 1.2-0.5 1.8 0z");
}

/* --- 28x28 --- */

.icon_burger path {
	d:	path("m2 23v0.4c0 2 1.6 3.6 3.6 3.6h16.7c2 0 3.6-1.6 3.6-3.6v-0.4zm25.2-1c0.5-0.5 0.8-1.2 0.8-2 0-1.7-1.3-3-3-3h-22c-1.7 0-3 1.3-3 3 0 0.8 0.3 1.5 0.8 2zm-24.3-6.2c1.2 0.8 2.9 0.8 4.1 0 0.6-0.4 1.3-0.4 1.9 0 1.2 0.8 2.9 0.8 4.1 0 0.6-0.4 1.3-0.4 1.9 0 1.2 0.8 2.9 0.8 4.1 0 0.6-0.4 1.3-0.4 1.9 0s1.3 0.6 2.1 0.6 1.4-0.2 2.1-0.6l1.5-1c0.5-0.3 0.6-0.9 0.3-1.4s-0.9-0.6-1.4-0.3l-1.5 1c-0.6 0.4-1.3 0.4-1.9 0-1.2-0.8-2.9-0.8-4.1 0-0.6 0.4-1.3 0.4-1.9 0-1.2-0.8-2.9-0.8-4.1 0-0.6 0.4-1.3 0.4-1.9 0-1.2-0.8-2.9-0.8-4.1 0-0.6 0.4-1.3 0.4-1.9 0l-1.5-1c-0.5-0.3-1.1-0.2-1.4 0.3s-0.2 1.1 0.3 1.4zm11.1-14.8c-6.4 0-11.8 4.6-12.8 10.8 0 0.3 0 0.6 0.2 0.8 0.2 0.3 0.5 0.4 0.8 0.4h23.6c0.3 0 0.6-0.1 0.8-0.4 0.2-0.2 0.3-0.5 0.2-0.8-1-6.2-6.4-10.8-12.8-10.8zm-4 8c0 0.6-0.4 1-1 1s-1-0.4-1-1v-2c0-0.6 0.4-1 1-1s1 0.4 1 1zm5-1c0 0.6-0.4 1-1 1s-1-0.4-1-1v-2c0-0.6 0.4-1 1-1s1 0.4 1 1zm5 1c0 0.6-0.4 1-1 1s-1-0.4-1-1v-2c0-0.6 0.4-1 1-1s1 0.4 1 1z");
}


/* --- ACC. button --- */

/* --- 512x512 --- */

.icon_eye path {
	d:	path("m511.3 251c-21.4-71.8-72.3-131.2-138.9-163.6l25.4-44.5c11.4-20.2-19-37.5-30.5-17.4l-27.7 48.6c-143.3-47.3-296.3 33.9-338.9 176.9-1 3.3-1 6.7 0 10 21.3 71.8 72.3 131.2 138.9 163.6l-25.4 44.5c-11.5 20.1 19 37.5 30.5 17.4l27.7-48.6c143.3 47.3 296.3-33.9 338.9-177 1-3.3 1-6.7 0-10zm-372.2 5c0-82.3 83-138.5 158.9-109.1l-34.9 61.1c-43.5-6.6-72.6 44.3-44.8 78.5l-34.9 61.1c-27-21.4-44.4-54.6-44.4-91.7zm74.9 109.1 34.9-61.2c44 6.5 72.4-44.6 44.8-78.5l34.9-61.2c103.3 81.4 11.3 249.5-114.5 200.8z");
}


/* --- PROF. buttons --- */

/* --- 512x512 --- */

.icon_list path {
	d:	path("m181.8 0c-17.9 0-32.5 14.6-32.5 32.5v10.2h-60.1c-25.7 0-46.6 20.9-46.6 46.6v376.1c0 25.7 20.9 46.6 46.6 46.6h333.4c25.7 0 46.6-20.9 46.6-46.6v-376.1c0-25.7-20.9-46.6-46.6-46.6h-60.1v-10.2c0-17.9-14.6-32.5-32.5-32.5zm10.2 42.7h128v42.7h-128zm170.7 106.7c5.5 0 10.9 2.1 15.1 6.3 8.3 8.3 8.3 21.8 0 30.2l-42.7 42.7c-4.2 4.2-9.6 6.3-15.1 6.3s-10.9-2.1-15.1-6.3l-21.3-21.3c-8.3-8.3-8.3-21.8 0-30.2s21.8-8.3 30.2 0l6.3 6.3 27.6-27.6c4.2-4.2 9.6-6.3 15.1-6.3zm-213.3 42.7h85.3c11.8 0 21.3 9.6 21.3 21.3s-9.5 21.3-21.3 21.3h-85.3c-11.8 0-21.3-9.6-21.3-21.3s9.5-21.3 21.3-21.3zm213.3 64c5.5 0 10.9 2.1 15.1 6.3 8.3 8.3 8.3 21.8 0 30.2l-42.7 42.7c-4.2 4.2-9.6 6.3-15.1 6.3s-10.9-2.1-15.1-6.3l-21.3-21.3c-8.3-8.3-8.3-21.8 0-30.2s21.8-8.3 30.2 0l6.3 6.3 27.6-27.6c4.2-4.2 9.6-6.3 15.1-6.3zm-213.3 42.7h85.3c11.8 0 21.3 9.6 21.3 21.3s-9.5 21.3-21.3 21.3h-85.3c-11.8 0-21.3-9.6-21.3-21.3s9.5-21.3 21.3-21.3zm213.3 64c5.5 0 10.9 2.1 15.1 6.3 8.3 8.3 8.3 21.8 0 30.2l-42.7 42.7c-4.2 4.2-9.6 6.3-15.1 6.3s-10.9-2.1-15.1-6.3l-21.3-21.3c-8.3-8.3-8.3-21.8 0-30.2s21.8-8.3 30.2 0l6.3 6.2 27.6-27.6c4.2-4.2 9.6-6.3 15.1-6.3zm-213.3 42.7h85.3c11.8 0 21.3 9.6 21.3 21.3s-9.5 21.3-21.3 21.3h-85.3c-11.8 0-21.3-9.6-21.3-21.3s9.5-21.3 21.3-21.3z");
}

/* --- 512x512 --- */

.icon_road path {
	d:	path("m161.2 56.9c-24.1 0-45.6 15.2-53.6 37.9l-104.7 295.6c-1.8 5.2-2.8 10.7-2.8 16.2 0 26.8 21.8 48.5 48.5 48.5h179v-56.9c0-15.7 12.7-28.4 28.4-28.4s28.4 12.7 28.4 28.4v56.9h179c26.8 0 48.5-21.8 48.5-48.5 0-5.5-1-11-2.8-16.2l-104.7-295.6c-8.1-22.7-29.5-37.9-53.6-37.9h-66.5v56.9c0 15.7-12.7 28.4-28.4 28.4s-28.4-12.7-28.4-28.4v-56.9h-66.5zm94.9 142.2c15.7 0 28.4 12.7 28.4 28.4v56.9c0 15.7-12.7 28.4-28.4 28.4s-28.4-12.7-28.4-28.4v-56.9c0-15.7 12.7-28.4 28.4-28.4z");
}

/* --- 512x512 --- */

.icon_code path {
	d:	path("m309.1 51.2c-11.9-0.9-23.1 6.6-26.6 18.5l-102.4 358.4c-3.9 13.6 4 27.8 17.6 31.7s27.8-4 31.7-17.6l102.4-358.4c3.9-13.6-4-27.8-17.6-31.7-1.7-0.5-3.4-0.8-5.1-0.9zm-193.9 89.5c-6.6 0-13.1 2.5-18.1 7.5l-89.6 89.6c-10 10-10 26.2 0 36.2l89.6 89.6c10 10 26.2 10 36.2 0s10-26.2 0-36.2l-71.5-71.4 71.5-71.5c10-10 10-26.2 0-36.2-5-5-11.6-7.5-18.1-7.5zm281.5 0.1c-6.5 0-13.1 2.5-18.1 7.5-10 10-10 26.2 0 36.2l71.4 71.5-71.5 71.5c-10 10-10 26.2 0 36.2s26.2 10 36.2 0l89.6-89.6c10-10 10-26.2 0-36.2l-89.6-89.6c-5-5-11.6-7.5-18.1-7.5zm-18.1 7.5-0.1 0.1z");
}

/* --- 512x512 --- */

.icon_chalk path {
	d:	path("m134.8 40.4a40.4 40.4 0 0 0 0 80.8 40.4 40.4 0 0 0 0-80.8zm148.2 0c-22.3 0-40.4 18.1-40.4 40.4v67.4h-120.3c-28.4 0-54.6 14.9-69.3 39.2l-49.1 81.7c-7.7 12.7-3.5 29.3 9.2 37s29.3 3.5 37-9.2l24.2-40.2v187.8c0 14.9 12 26.9 26.9 26.9s26.9-12 26.9-26.9v-107.8h13.5v107.8c0 14.9 12 26.9 26.9 26.9s26.9-12 26.9-26.9v-242.5h114.5c14.9 0 26.9-12 26.9-26.9s-12-26.9-26.9-26.9h-13.5v-53.9h161.7v161.7h-161.7v-26.9h-53.9v40.4c0 22.3 18.1 40.4 40.4 40.4h188.6c22.3 0 40.4-18.1 40.4-40.4v-188.6c0-22.3-18.1-40.4-40.4-40.4h-188.6z");
}

/* --- 210x210 --- */

.icon_indus path {
	d:	path("m205.6 101.9c-1.6-1-3.4-1.3-5.2-1l-1.7-81.9c-0.1-4.1-3.4-7.3-7.5-7.3h-21.8c-4.1 0-7.4 3.3-7.5 7.3l-1.8 86.1c-0.6-1.3-1.6-2.5-2.9-3.2-2.2-1.4-5-1.5-7.3-0.3l-4 2v-42.8c0-4.1-3.4-7.5-7.5-7.5h-9.1c-4.1 0-7.5 3.4-7.5 7.5v54.8l-9.4 4.7v-12c0-2.6-1.3-5-3.6-6.4-2.2-1.4-5-1.5-7.3-0.3l-37.5 18.7v-12c0-2.6-1.3-5-3.6-6.4-2.2-1.4-5-1.5-7.3-0.3l-48.3 24.1c-2.5 1.3-4.2 3.9-4.2 6.7v58.3c0 4.1 3.4 7.5 7.5 7.5h193.3c4.1 0 7.5-3.4 7.5-7.5v-82.5c0-2.6-1.3-5-3.6-6.4zm-162.6 70.6c0 4.1-3.4 7.5-7.5 7.5h-13.5c-4.1 0-7.5-3.4-7.5-7.5v-9.3c0-4.1 3.4-7.5 7.5-7.5h13.5c4.1 0 7.5 3.4 7.5 7.5zm57.5 0c0 4.1-3.4 7.5-7.5 7.5h-13.5c-4.1 0-7.5-3.4-7.5-7.5v-9.3c0-4.1 3.4-7.5 7.5-7.5h13.5c4.1 0 7.5 3.4 7.5 7.5zm57.5 0c0 4.1-3.4 7.5-7.5 7.5h-13.5c-4.1 0-7.5-3.4-7.5-7.5v-9.3c0-4.1 3.4-7.5 7.5-7.5h13.5c4.1 0 7.5 3.4 7.5 7.5z");
}


/* --- ME buttons --- */

/* --- 512x512 --- */

.icon_mail path {
	d:	path("m424 80h-336a56.1 56.1 0 0 0-56 56v240a56.1 56.1 0 0 0 56 56h336a56.1 56.1 0 0 0 56-56v-240a56.1 56.1 0 0 0-56-56zm-14.2 92.6-144 112a16 16 0 0 1-19.6 0l-144-112a16 16 0 1 1 19.6-25.3l134.2 104.4 134.2-104.4a16 16 0 0 1 19.6 25.3z");
}

/* --- 800x800 --- */

.icon_git path {
	d:	path("m399-0q-21 0-36 15l-73 73 92 92q17-6 34-2t29.5 16.5 16 29.5-1.5 34l88 88q17-5 34-1.5t30 16.5q18 18 18 43.5t-18 43-43.5 17.5-43.5-17q-13-14-16.5-32t3.5-35l-83-83v218q9 4 16 11 18 18 18 43.5t-18 43.5-43.5 18-43-18-17.5-43.5 18-43.5q8-8 20-13v-220q-12-4-20-13-14-13-17.5-31.5t3.5-35.5l-90-91-240 240q-15 15-15 36.5t15 36.5l349 349q15 15 36.5 15t36.5-15l348-348q15-15 15-36.5t-15-36.5l-349-349q-15-15-37-15z");
}


/* --- experience buttons --- */

/* --- 512x512 --- */

.icon_sanit path {
	d:	path("m502.8 457.7c-30.7-15.4-66.8-14.4-96.7 2.1v-86.5c42.4-40.8 66.9-97.2 66.9-156.2 0-119.7-97.4-217-217-217s-217 97.4-217 217c0 59 24.4 115.4 66.8 156.2v86.5c-29.8-16.5-65.8-17.5-96.5-2.1-8.2 4.1-11.6 14.2-7.4 22.4 4.1 8.2 14.2 11.6 22.4 7.4 23.1-11.6 50.6-9.5 72 5.4 36.2 25.4 83.1 25.4 119.3 0 24.6-17.2 56.4-17.2 81 0 18.1 12.7 38.9 19 59.7 19 21.9 0 44.5-8.4 59.7-19 21.3-14.9 48.9-17 72-5.4 8.3 4.2 18.3 0.8 22.4-7.4s0.8-18.3-7.4-22.4zm-246.8-357.5c58.8 0 107.4 43.6 115.5 100.2h-231.2c8.1-56.6 56.9-100.2 115.7-100.2zm116.9 376.1c-14 3.5-28.7 2.5-42.3-2.9 5.3-2.8 8.8-8.3 8.8-14.7v-74.7c0-9.2-7.4-16.7-16.6-16.7s-16.7 7.5-16.7 16.7v74.7c0 0.4 0.1 0.8 0.1 1.3-10.7-5.9-22-10-33.6-12v-30.6c0-9.2-7.4-16.7-16.6-16.7s-16.7 7.5-16.7 16.7v30.6c-15 2.5-29.7 8.3-43 17.6-17.2 12.1-38.1 15.5-57.4 10.7 0-0.3 0.1-242.5 0.1-242.5h33.5v50.1c0 9.2 7.5 16.7 16.7 16.7s16.6-7.5 16.6-16.7v-50.1h100.3v83.5c0 9.2 7.5 16.7 16.7 16.7s16.6-7.5 16.6-16.7v-83.5h33.5v242.5zm-116.9-209.1c-9.2 0-16.7 7.5-16.7 16.7v66.8c0 9.2 7.5 16.7 16.7 16.7s16.6-7.5 16.6-16.7v-66.8c0-9.2-7.4-16.7-16.6-16.7zm-66.8 66.8c-9.2 0-16.7 7.5-16.7 16.7v66.8c0 9.2 7.5 16.7 16.7 16.7s16.6-7.5 16.6-16.7v-66.8c0-9.2-7.4-16.7-16.6-16.7z");
}


/* --- 170x170 --- */

.icon_struct path {
	d:	path("m134.9 16.8c-1.1 0-2.1 0.6-2.4 1.8-1 3.1 0.4 5.5 3 5.5 2.7 0 4.2-3.2 2.5-5.7-0.8-1.1-1.9-1.7-3-1.7zm27 0c-1.1 0-2.1 0.6-2.4 1.8-1 3.1 0.4 5.5 3 5.5 2.7 0 4.2-3.2 2.5-5.7-0.8-1.1-1.9-1.7-3-1.7zm-13.1 0.1c-1.1 0-2.1 0.6-2.3 1.5-1 3.2 0.4 5.9 2.8 5.4 1.7-0.2 2.3-1.2 2.3-3.4s-0.6-3.2-2.3-3.4zm-27.9 15.7-7 8.2c-7.8 9.2-9.1 11.5-8.2 14.4 1.2 3.9 4.9 2 11.4-6l6.4-8h20.2c21.8 0 23.8-0.6 21.4-6-1-2.5-1.9-2.6-22.6-2.6zm-35.4 17.8c-1.4-0.4-13.5 10.6-41.8 37.7-26.1 25.1-39.7 38.9-39.5 40.2 0.6 4.1 3.5 4.8 6.8 1.8l3-2.8v11.1c0 8.4 0.4 11.4 1.6 12.9 0.8 1.1 1.9 2 2.3 2 1.7 0 3.1-3.3 3.1-7.6v-4.7h128v4.7c0 4.3 1.4 7.6 3.1 7.6 0.4 0 1.5-0.9 2.3-2 1.2-1.5 1.6-4.5 1.6-12.9v-11.1l2.6 2.5c3.3 3.2 5 3.2 6.4 0.2 0.7-1.8 0.6-2.9-0.8-4.8-3.1-4.4-76.7-74.3-78.7-74.8zm2.5 11.7 3.8 3.4c2 2 6.9 6.6 10.8 10.4l7.2 6.9-21.8 26.8zm-6.5 0.2 0.3 22.8c0.1 12.7 0 23.2-0.3 23.6-0.3 0.5-5.4-5.2-11.3-12.4-10.2-12.5-10.6-13.3-8.7-14.9 1.1-1 6.1-5.7 11-10.4zm-27 25.9 10.8 13.1 10.7 13.1-12.5 0.4c-7 0.1-18 0.1-24.5 0l-11.9-0.4 13.7-13.1zm61.7 1h0.2c0.6 0.6 6.7 6.4 13.6 13 6.9 6.5 12.7 12.2 12.9 12.4s-10.8 0.5-24.5 0.5h-24.9l11-13.5c6.3-7.7 10.7-12.4 11.7-12.4zm-95.2 34.5h128v8.6h-128z");
}


/* --- 32x32 --- */

.icon_traffic path {
	d:	path("m15 26h2v4h-2zm0-8h2v4h-2zm0-8h2v4h-2zm0-8h2v4h-2zm13 0h2v28h-2zm-26 0h2v28h-2zm10.6 20.6-1.6 1.6v-10.2h-2v10.2l-1.6-1.6-1.4 1.4 4 4 4-4zm13.4-14.6-4-4-4 4 1.4 1.4 1.6-1.6v10.2h2v-10.2l1.6 1.6z");
}


/* --- 128x128 --- */

.icon_bus_stop path {
	d:	path("m23.1 106h-7.1v-60.8h4.7c1.3 0 2.4-1.1 2.4-2.4v-23.4c0-1.3-1.1-2.4-2.4-2.4h-14c-1.3 0-2.4 1.1-2.4 2.4v23.4c0 1.3 1.1 2.4 2.4 2.4h4.7v60.9h-7.1c-1.3 0-2.4 1.1-2.4 2.4s1.1 2.4 2.4 2.4h18.7c1.3 0 2.4-1.1 2.4-2.4 0.1-1.4-1-2.5-2.3-2.5zm100.7-37.4h-4.7c-1.3 0-2.4-1.1-2.4-2.4v-14c0-1.3 1.1-2.4 2.4-2.4h4.7c1.3 0 2.4 1.1 2.4 2.4v14c-0.1 1.3-1.1 2.4-2.4 2.4zm-86.6 0h-4.7c-1.3 0-2.4-1.1-2.4-2.4v-14c0-1.3 1.1-2.4 2.4-2.4h4.7c1.3 0 2.4 1.1 2.4 2.4v14c-0.1 1.3-1.2 2.4-2.4 2.4zm77.1 22.1v-64.2c0-2.6-2.1-4.7-4.7-4.7h-63c-2.6 0-4.7 2.1-4.7 4.7v64.3c-0.7 0.5-1.1 1.2-1.1 2v4.7c0 1.3 1.1 2.4 2.4 2.4h5.8v7.3c0 2 1.6 3.6 3.6 3.6h3.6c2 0 3.6-1.6 3.6-3.6v-7.3h36.8v7.3c0 2 1.6 3.6 3.6 3.6h3.6c2 0 3.6-1.6 3.6-3.6v-7.3h5.9c1.3 0 2.4-1.1 2.4-2.4v-4.7c-0.2-0.9-0.6-1.7-1.4-2.1zm-62.8-61.5h53.3c1.3 0 2.4 1.1 2.4 2.4v1.3c0 1.3-1.1 2.4-2.4 2.4h-53.3c-1.3 0-2.4-1.1-2.4-2.4v-1.3c0-1.4 1.1-2.4 2.4-2.4zm2.7 59.7c-3.1 0-5.5-2.5-5.5-5.5s2.6-5.4 5.5-5.4 5.5 2.5 5.5 5.5-2.5 5.4-5.5 5.4zm-5.1-20.6v-25.8c0-1.3 1.1-2.4 2.4-2.4h53.2c1.3 0 2.4 1.1 2.4 2.4v25.9c0 1.3-1.1 2.4-2.4 2.4h-53.2c-1.3-0.2-2.4-1.3-2.4-2.5zm52.8 20.6c-3.1 0-5.5-2.5-5.5-5.5s2.5-5.5 5.5-5.5 5.5 2.5 5.5 5.5-2.5 5.5-5.5 5.5z");
}


/* --- 512x512 --- */

.icon_digger path {
	d:	path("m371.9 365.2a16.4 16.4 0 0 1-16.4 16.4 16.4 16.4 0 0 1-16.4-16.4 16.4 16.4 0 0 1 16.4-16.4 16.4 16.4 0 0 1 16.4 16.4zm-285.2 0a16.4 16.4 0 0 1-16.4 16.4 16.4 16.4 0 0 1-16.4-16.4 16.4 16.4 0 0 1 16.4-16.4 16.4 16.4 0 0 1 16.4 16.4zm408.2-180.3h-34c-0.6-1.1-1.3-2.1-2.1-3l-31.6-35.3c-3.2-3.6-7.9-5.7-12.8-5.7h-65.8c-6.8 0-13 4-15.7 10.3l-44.5 101.6h-40.5l-14.8-138h5.6c9.5 0 17.1-7.7 17.1-17.1 0-9.5-7.7-17.1-17.1-17.1h-204.4c-9.5 0-17.1 7.7-17.1 17.1 0 9.5 7.7 17.1 17.1 17.1h7.5v105.1c-2.3-1.1-4.8-1.8-7.5-1.8-9.5 0-17.1 7.7-17.1 17.1v58.4c0 7.8 5.2 14.3 12.2 16.4-17.7 11.9-29.4 32.2-29.4 55.1 0 36.6 29.8 66.4 66.4 66.4h290.9c36.6 0 66.4-29.8 66.4-66.4s-29.8-66.4-66.4-66.4h-104.5l-1.3-11.9h48.1c6.8 0 13-4 15.7-10.3l44.5-101.6h46.9l8.9 10c-8.2 1.2-14.6 8.3-14.6 16.9v49.5c0 7 4.3 13.3 10.8 15.9 25.7 10.2 46 29.7 57.3 54.9l10.1 22.4c2.8 6.3 9 10.1 15.6 10.1 1.2 0 2.4-0.1 3.6-0.4 7.9-1.7 13.5-8.7 13.5-16.8v-135.7c-0-9.5-7.7-17.1-17.1-17.1zm-364.3-70.2h68l11.1 103.4h-79.1zm-54.5 0h20.3v103.4h-20.3zm0 137.7h135.7c0.5 0 1-0 1.5-0.1l5 46.5h-142.2zm281.2 80.7c17.7 0 32.1 14.4 32.1 32.1s-14.4 32.1-32.1 32.1h-290.9c-17.7 0-32.1-14.4-32.1-32.1s14.4-32.1 32.1-32.1zm120.4-60.2c-11.8-13.4-26.2-24.5-42.4-32.5v-21.2h42.4z");
}


/* --- 88x88 --- */

.icon_earth path {
	d:	path("m72.7 6.9c0.6 6-28.8 13.9-36.2 30.9-5.7 13.2 1.7 24.3 9.3 29.7-14.6 21.4-15.2 16.9-16.2 18.2l8.2 1.6s13.9-23.7 15.4-26.2c-0.1-0.1-3.8-3.4-7-7.3-0.8-1-1.5-2-2.2-3-0.6-1-1.2-2-1.5-2.9-0.2-0.4-0.3-0.8-0.4-1.2s-0.2-0.7-0.2-1v-0.9s0 0.3 0.1 0.8c0 0.3 0.2 0.6 0.3 0.9 0.1 0.4 0.3 0.7 0.5 1.1 0.4 0.8 1.1 1.7 1.8 2.6s1.6 1.8 2.5 2.7c1.8 1.7 3.7 3.3 5.1 4.4 1 0.8 1.8 1.3 2.1 1.6 1.4-2.5 2.9-5.2 4.3-8v0.1s-2.9-2.6-5.4-5.6c-0.6-0.8-1.2-1.5-1.7-2.3s-0.9-1.5-1.2-2.2c-0.1-0.3-0.3-0.7-0.3-0.9-0.1-0.3-0.1-0.5-0.1-0.8v-0.7s0 0.2 0.1 0.7c0 0.2 0.1 0.4 0.2 0.7s0.2 0.6 0.4 0.9c0.3 0.6 0.8 1.3 1.4 2s1.2 1.4 1.9 2c1.4 1.3 2.8 2.5 3.9 3.4 0.7 0.6 1.3 1 1.6 1.2 1.5-3 3.1-6.2 4.6-9.5l-0.2 0.2s-2.3-2.1-4.3-4.5c-0.5-0.6-1-1.2-1.3-1.8-0.4-0.6-0.7-1.2-0.9-1.8-0.1-0.3-0.2-0.5-0.2-0.8 0-0.2-0.1-0.4-0.1-0.6v-0.5s0 0.2 0.1 0.5c0 0.2 0.1 0.4 0.2 0.6s0.2 0.4 0.3 0.7c0.3 0.5 0.7 1 1.1 1.6 0.4 0.5 1 1.1 1.5 1.6 1.1 1.1 2.3 2 3.2 2.7 0.6 0.5 1 0.8 1.3 1v-0.1s1-2.3 1.5-3.4c4.8-11.2 3-6.5-0.8 3.2 0.4 0 0.8-0.1 1.4-0.1 1.2-0.1 2.9-0.3 4.6-0.6l2.4-0.6c0.7-0.2 1.4-0.5 2-0.8 0.3-0.1 0.5-0.3 0.7-0.5s0.4-0.3 0.5-0.4c0.2-0.3 0.4-0.4 0.4-0.4s-0.1 0.2-0.3 0.5c-0.1 0.2-0.3 0.3-0.5 0.5s-0.4 0.4-0.7 0.6c-0.5 0.4-1.2 0.7-1.9 1.1-0.7 0.3-1.5 0.6-2.4 0.9-3.3 1.1-6.7 1.6-6.7 1.6v-0.2c-1 2.6-2.2 5.5-3.4 8.5 0.4 0 0.8-0.1 1.4-0.1 1.6-0.1 3.8-0.4 5.9-0.8 1.1-0.2 2.1-0.5 3.1-0.8s1.8-0.7 2.5-1c0.4-0.2 0.7-0.4 0.9-0.6 0.3-0.2 0.5-0.4 0.6-0.6 0.3-0.4 0.5-0.6 0.5-0.6s-0.2 0.2-0.4 0.6c-0.1 0.2-0.4 0.4-0.6 0.6s-0.5 0.5-0.9 0.7c-0.7 0.5-1.5 0.9-2.5 1.4-0.9 0.4-2 0.8-3 1.2-3.6 1.2-7.3 1.9-8.3 2-1.1 2.8-2.7 5.6-3.8 8.4 0.4 0 1.4-0.1 2-0.1 1.8-0.2 4.3-0.5 6.7-0.9 1.2-0.3 2.4-0.5 3.5-0.9s2.1-0.7 2.9-1.2c0.4-0.2 0.8-0.4 1.1-0.7 0.3-0.2 0.6-0.4 0.7-0.6 0.4-0.4 0.6-0.7 0.6-0.7s-0.2 0.3-0.5 0.7c-0.1 0.2-0.4 0.5-0.7 0.7-0.3 0.3-0.6 0.5-1 0.8-0.8 0.6-1.8 1.1-2.8 1.6-1.1 0.5-2.3 0.9-3.5 1.3-4.1 1.3-8.9 1.9-10.1 2.1-1.3 3.2-3.5 6.4-4.5 9 9.8 3.5 26.7 4.2 33.5-11.6 7.4-17.1-12.6-57.7-12-51.7zm-33.5 61.3c-0.6-0.7-1.2-1.3-1.7-2-1.2-1-2.3-2-3.3-3.1 0.4 0 0.8 0 1.1 0.1-0.8-1.3-1.6-2.8-2.2-4.2-0.8-0.1-1.6-0.2-2.4-0.4-2.9-4.5-4.9-9.8-5.7-15.5 1.9 0.7 3.9 1.3 5.9 1.7 0.1-1.2 0.3-2.5 0.6-3.7-2.4-0.5-4.7-1.3-6.9-2.2v-1.1c0-4.3 0.7-8.5 2-12.3 3.1 2.1 6.9 3.4 10.9 3.7 1.2-1.6 2.6-3.1 4-4.4-0.9 0.1-1.8 0.2-2.7 0.2-4 0-7.6-1.3-10.5-3.6 2.5-5.5 6.3-10.1 10.9-13.5 3.9 2.9 7.1 6.7 9.6 11l3.6-2.4c-2-3.6-4.6-6.8-7.5-9.5 4 0.7 7.7 2.1 11 4.2-0.3 1.5-0.9 2.8-1.5 4.1 2.1-1.3 4.1-2.5 6-3.6 1-0.6 2.2-1.2 3.3-1.9-6.6-5.6-15.1-9.1-24.4-9.1-8 0-15.4 2.5-21.5 6.8h-0.5v0.4c-3.4 2.4-6.4 5.4-8.8 8.8-0.4 0.5-0.8 1.1-1.1 1.7-1 1.5-1.8 3.1-2.5 4.7-1.5 3.2-2.5 6.7-3 10.4-0.2 1.7-0.4 3.3-0.4 5 0 18.9 13.9 34.5 32.1 37.3 1.2-1.4 3.1-3.7 5.8-7.4zm-5.7-61.5c-3.4 3.1-6.3 6.9-8.5 11.2-1.5-1.9-2.6-4.2-3.2-6.6 3.5-2.2 7.4-3.8 11.6-4.6zm-15.3 7.3c1 3.1 2.7 5.9 4.9 8.2-1.6 4.4-2.6 9.1-2.7 14.1-4.5-2.8-8.1-6.7-10.5-11.1 1.9-4.3 4.8-8.1 8.3-11.2zm-11.1 24.3c0-3 0.4-5.8 1.2-8.5 3.1 4.5 7.3 8.3 12.3 11 0.4 5.6 1.9 10.9 4.2 15.7-8.3-3.5-14.8-10-17.7-18zm2.2 11.6c4.7 5.5 11.1 9.7 18.5 11.8 2 2.9 4.4 5.5 7 7.8 0.3 0.1 0.6 0.2 0.8 0.3-0.2 0.1-0.4 0.2-0.7 0.3-11.8-1.5-21.6-9.5-25.7-20.2z");
}


/* --- 512x512 --- */

.icon_station path {
	d:	path("m7.8 424.1c-4.3 2.2-7.8 8.1-7.8 12.9s3.3 10.3 7.8 12.8c3.8 2.1 4.9 2.2 28.6 2.2h24.6v30h-24.5c-22.7 0-24.9 0.2-28.5 2-4.5 2.3-8 8-8 13 0 4.8 3.3 10.3 7.8 12.8l4 2.2h244.1c242.8 0 244.2 0 248.1-2 4.5-2.3 8-8 8-13s-3.5-10.7-8-13c-3.6-1.8-5.8-2-28.5-2h-24.5v-30h24.5c22.7 0 24.9-0.2 28.5-2 4.5-2.3 8-8 8-13s-3.5-10.7-8-13c-3.9-2-5.3-2-248.2-2-241.3 0.1-244.3 0.1-248 2.1zm143.2 42.9v15h-60v-30h60zm90 0v15h-60v-30h60zm90 0v15h-60v-30h60zm90 0v15h-60v-30h60zm-15-120.5v45.5h30v-91h-30zm-195 0v45.5h90v-91h-90zm-135 0v45.5h30v-91h-30zm-68.2-103.4c-2.3 1.2-4.6 3.5-5.8 5.9-1.9 3.8-2 5.8-2 67.5 0 60.5 0.1 63.8 1.9 67.3 1.1 2.2 3.5 4.6 5.9 6 3.7 2 5.2 2.2 21.1 2.2h17.1v-54.5c0-51.6 0.1-54.8 1.9-58.3 1.1-2.2 3.5-4.6 5.9-6 3.9-2.2 4.6-2.2 37.1-2.2 31.3 0 33.4 0.1 37.1 2 2.6 1.3 4.7 3.4 6 6 1.9 3.8 2 5.8 2 58.5v54.5h45v-54.5c0-51.6 0.1-54.8 1.9-58.3 1.1-2.2 3.5-4.6 5.9-6l4-2.2h63.1c61.3 0 63.3 0.1 67.1 2 2.6 1.3 4.7 3.4 6 6 1.9 3.8 2 5.8 2 58.5v54.5h45v-54.5c0-51.6 0.1-54.8 1.9-58.3 1.1-2.2 3.5-4.6 5.9-6 3.9-2.2 4.6-2.2 37.1-2.2 31.3 0 33.4 0.1 37.1 2 2.6 1.3 4.7 3.4 6 6 1.9 3.8 2 5.8 2 58.5v54.5h17c19.9 0 23.4-1 27-8 1.9-3.8 2-5.8 2-67.5s-0.1-63.7-2-67.5c-1.3-2.6-3.4-4.7-6-6-3.9-2-5.3-2-248.2-2-241.3 0.1-244.3 0.1-248 2.1zm383.2-62.2v30h60v-24c0-22.2-0.2-24.4-2-28-1.3-2.6-3.4-4.7-6-6-3.6-1.8-5.8-2-28-2h-24zm-322.2-27.8c-2.3 1.2-4.6 3.5-5.8 5.9-1.8 3.6-2 5.8-2 28v24h60v-60h-24.2c-22.2 0.1-24.6 0.3-28 2.1zm180-45c-4.3 2.2-7.8 8.1-7.8 12.9 0 5 3.5 10.7 8 13 2.1 1.1 5.3 2 7 2 7.6 0 15-7.4 15-15 0-5-3.5-10.7-8-13-4.9-2.5-9.4-2.5-14.2 0.1zm0.8-106.5c-1.6 0.9-30.1 22.3-63.5 47.5-44.2 33.5-61.2 46.9-62.8 49.7-4.3 7.1-2 15.8 5.3 19.9 6.3 3.6 11.8 2.7 20.2-3.3l2.2-1.6v97.2h210l0.2-48.5 0.3-48.6 4.3 3.2c8.4 6.2 18.9 4.3 23.2-4.1 4.7-9.2 2.2-14.3-12.9-25.8-77.5-58.9-111.2-84.2-113.8-85.6-4-2-8.9-2-12.7 0zm15.6 75.5c8.6 1.9 15.8 5.9 22.3 12.4 17.8 17.7 17.8 45.3 0 63-17.7 17.8-45.1 17.8-63 0-17.8-17.6-17.8-45.4 0-63 11.2-11.2 25.7-15.6 40.7-12.4z");
}


/* --- 800x800 --- */

.icon_virtual path {
	d:	path("m364 29.2a66033 66033 0 0 1-183.3 58.1c-111.7 35.2-124.4 39.2-131.5 41.2-12.9 3.6-12.5 2.3-13 44.4-0.5 45.5-1.5 43.1 19.5 47.7 4.9 1.1 20.9 4.7 35.6 8.1 33.5 7.7 39.8 8.5 43.5 5.1 4.6-4.2 5.4-6.7 3.8-12.6-1.8-6.8-4-7.8-29.7-13.5l-19.8-4.4 9.1-2.9c5-1.6 12.4-3.8 16.4-5 8.8-2.5 19.3-5.6 64-19 18.7-5.6 48.4-14.3 66-19.5 17.6-5.1 48.2-14.1 68-20 74.7-22.2 86.5-25.4 91.3-24.7 2.6 0.3 16.7 4.2 31.4 8.6s41.4 12.3 59.3 17.5c18 5.2 34.5 10.1 36.8 10.9 3.7 1.2 26.2 7.8 43.2 12.7 3.3 0.9 13.5 3.9 22.7 6.7 9.2 2.7 20.3 6 24.7 7.3s22.4 6.7 40 12 35.7 10.6 40.3 11.8 8.3 2.6 8.3 3.1-8.2 2.8-18.3 5.1c-25.4 5.9-26.8 6.4-29 10.8-2.8 5.4-2.5 8.5 1.5 13.2 2.7 3.2 4.5 4.1 8.5 4.1 5.1 0 77.7-16.2 84.2-18.8 6-2.4 6.5-5.5 6.5-43.8 0-33.8-0.1-35.9-2.7-39.1-2.1-2.6-7.4-4.9-23.7-10.1-55.8-17.7-104.2-33-135.7-42.9-19.1-6-46.7-14.7-61.3-19.4a22830 22830 0 0 0-54.7-17.3c-15.4-4.9-40.1-12.7-54.8-17.4s-28.5-8.5-30.7-8.5c-2.1 0-18.6 4.8-36.5 10.5m63.6 22.2a19944 19944 0 0 1 50.4 15.9 32277 32277 0 0 0 52.7 16.6c14.3 4.5 34.1 10.8 44 14s26.7 8.5 37.3 11.8 34.6 11 53.3 16.9c18.7 6 36.7 11.7 40 12.6s12.3 3.7 20 6.2l14 4.5 0.8 44.4-7-2.1c-3.9-1.1-19-5.7-33.7-10.1s-47.7-14.3-73.3-22c-25.7-7.7-56.6-16.9-68.7-20.4s-50.5-15-85.3-25.4c-48.7-14.6-65-19-70.7-19-5.1 0-14.8 2.3-31.3 7.4-63.6 19.6-93.4 28.4-188.7 56.1-26.8 7.8-52.3 15.3-56.7 16.8-4.4 1.4-13.7 4.2-20.7 6.1s-18.2 5.2-25 7.4c-6.8 2.1-13.9 3.9-15.7 3.9h-3.4l0.8-43.2 6.7-2c18-5.3 217-68.2 282.7-89.3 24.9-8 47.2-14.6 49.6-14.7 2.3-0.1 14.9 3.2 28 7.3m-48.7 140.2c-2.6 2.2-2.8 4.1-3.7 32.7l-0.9 30.3h-14.3v-18.1c0-17.5-0.1-18.2-3.4-21.4-2.5-2.5-4.1-3.1-6.3-2.4-5.9 1.8-6.2 2.8-6.6 22.4l-0.4 18.9-8.7 0.4c-6.2 0.3-9.1 1-10.3 2.6-1.3 1.7-1.7 20.2-1.7 82v79.7h-23.4c-22.8 0-27.7 0.7-30.2 4.5-0.5 0.8-1 6.3-1 12.3v10.8l-16.2 0.9c-8.9 0.5-22.6 0.9-30.5 0.9-18.8 0-18.7-0.1-18.7 19.8v14.9h-30.5c-27.1 0-30.8 0.3-33.4 2.3-2.8 2.3-2.9 2.8-2.8 49 0 46 0.1 46.7 2.9 49 3.4 2.8 6.5 3 10 0.4 2.8-2 3.2-9.9 3.2-64.4v-20.3h30.4c38.6 0 36.3 1.2 36.3-19.3v-15.1l30.6-0.5c37.1-0.6 35.2 0.4 35.8-17.2l0.5-12 23.9 0.3c21.3 0.2 24.2 0 26.5-2.1 2.5-2.3 2.6-4.7 3-81.4 0.2-43.5 0.9-79.5 1.5-80.2 0.6-0.6 12.5-1.3 26.3-1.6l25.2-0.5v23.9l-16.2 0.7c-11.4 0.5-16.5 1.3-17.3 2.5-1.7 2.7-1.4 8.3 0.7 11.2 1.7 2.3 3.6 2.6 16.7 2.6h14.8v9.7 9.7h-14.6c-13.3 0-14.9 0.3-17.3 2.9-3.5 3.8-3.4 5.8 0.6 9.8 3.1 3.1 4.1 3.3 18 3.3h14.7v18.7h-13.7c-16.5 0-19.5 0.7-21.1 4.8-3.4 8.9 4.4 13 22.4 11.6l11-0.8v9.4c0 11.1 0.2 11-17.4 11-13.6 0-16.3 1.4-15.7 8 0.7 6.9 4.3 8.2 20.8 7.6l13.7-0.5v66l3.6 2.9c3.5 2.7 4.7 2.8 31.1 2.4 24.7-0.4 27.7-0.7 29.9-2.9 2.3-2.4 2.5-5.5 2.1-62.3l-0.3-59.9h42.5l0.7 13c0.4 7.1 0.4 13.7 0 14.7-0.4 1.2-4.1 1.7-11.8 1.7-10.4 0-11.3 0.2-13.3 3.3-2.6 4-1.6 8 2.9 10.9 2.6 1.7 5.2 1.9 13.2 1.2l10-0.9v13.6h-10.8c-13.2 0-15.9 1.2-15.9 7.3 0 6.8 3.7 8.7 16.4 8.7h10.5l-0.3 38.8c-0.3 38.3-0.3 38.8 2.6 41.7s3.7 2.9 38.9 2.8l36-0.1v15.5c0 18.5 1.3 23.2 7 25.2 2.4 0.8 15.1 1.4 30.4 1.4h26.3l0.7 14.9c0.6 13.4 1 15.2 3.7 17.3 4 3.2 7.3 3 10.7-0.6 2.6-2.8 2.8-4.2 2.4-23.5-0.6-27.4 2-25.5-35.1-25.5h-28.4l-1-18.3c-0.7-13.6-1.5-18.9-3-20.7-1.9-2.1-5.5-2.3-38.5-2.3h-36.5v-75c0-83.1 0.3-79.9-8.6-81.5l-4.7-0.9v-27.7c0-25.2-0.2-27.9-2.4-29.9-3.3-3-7.7-2.8-10.9 0.5-2.5 2.5-2.7 4.4-2.7 30.7v28h-20.4c-15.5 0-21 0.5-23 1.9-2.5 1.8-2.6 4.3-3 62l-0.4 60.1h-34.6v-48.3c-0-26.6-0.2-74.3-0.3-105.9-0.3-55.9-0.4-57.7-3-59.6-1.5-1.1-4.9-2-7.7-2.1h-5v-29.3c0-27.6-0.2-29.5-2.7-32-3.3-3.3-6.8-3.4-10.5-0.3m-220.2 15.4-3.3 1.7-0.6 131 3.6 2.8c3.9 3 7.9 2.7 10.8-1 1.3-1.6 1.7-17 1.7-66.3 0-62.7-0.1-64.2-2.7-67.1-3.1-3.3-4.6-3.5-9.3-1.2m474 0.4c-2.6 2-2.7 3.8-3 66.6l-0.4 64.6 3.2 3.2c2.3 2.3 4.2 3 6.7 2.5 7-1.3 6.9-0 6.9-68.3 0-58.6-0.2-63.8-2.4-67.1-2.7-4.1-6.8-4.6-11-1.5m-51 62.6c-2.7 1.9-3 3.2-3 13.8 0 12.9 1.6 16.1 8.2 16.1 6 0 7.8-3.7 7.8-15.8 0-9.1-0.4-11.3-2.7-13.6-3.2-3.2-6.4-3.4-10.4-0.6m-0.9 52c-3.3 3.3-2.6 9.3 1.4 12.5 5.7 4.5 12.5 0.9 12.5-6.6 0-6.8-9.1-10.6-13.9-5.9m52.2 35.8c-3.4 2.6-3.2 12.2 0.2 14.1 9.1 4.9 17.1-4.3 10.7-12.3-3.1-3.9-7.3-4.6-11-1.8m-475.4 8.2c-3.7 2.6-4 9.9-0.5 13.1 5.5 5 13.6 1.1 13.6-6.7 0-7.3-6.9-10.6-13-6.4m75 161.5c-37.5 0.4-38.7 0.5-41 3.2-2.1 2.5-2.3 6.3-2.3 34.1v31.2l3.3 3.3c1.8 1.8 4.2 3.3 5.4 3.3s3.6-1.5 5.4-3.3c3.2-3.2 3.3-3.5 3.3-29.2 0-22.4 0.3-26 2.1-26.7 1.2-0.4 17.3-0.8 35.9-0.8h33.8l0.4 27.9c0.4 25.2 0.7 28.1 3 30.7 2.4 2.6 3.8 2.8 26.3 2.8h23.8v14c0 15.6 1.7 19.3 9.1 19.3 6.5 0 6.9-1.5 6.9-24.2 0-26.9 2-25.1-29-25.1h-23v-26.6c0-16.8-0.6-27.8-1.5-29.9-1.7-3.7-4.2-4.4-15.3-4.3-4.3 0-25.3 0.2-46.6 0.4m145.5 4.2c-1.9 2.1-2.2 5.8-2.2 23.8 0 19 0.3 21.6 2.4 23.6 3.5 3.1 9 2.8 11.5-0.8 1.6-2.3 2.1-6.5 2.1-18v-15h58.7v25.8c0 24.1 0.2 26.1 2.8 29.3l2.8 3.5h28.6c26.8 0 28.7-0.2 31.2-2.7s2.7-4.4 2.7-28.7v-26h22.5l0.4 19.4c0.4 17.4 0.7 19.6 3 21.3 4.1 3 9.7 2.4 12.1-1.3 1.8-2.7 2-7.1 1.7-27.1-0.3-17.8-0.9-24.5-2.2-26.1-1.6-1.9-5.1-2.2-25.7-2.2-31.6 0-29.2-2.6-29.2 31.3v26h-16.5c-13.8 0-16.7-0.3-17.3-2.1-0.4-1.2-0.8-13.2-0.8-26.8 0-14.4-0.6-25.7-1.4-27.2-1.3-2.5-3.2-2.6-43.1-2.6-38.8 0-41.9 0.2-44 2.4m303.8 39.2c-2 1.7-3.8 5-4.2 7.8-1.2 7.6 3.1 11.5 16.2 14.7 5.9 1.4 12.4 2.6 14.6 2.6 2.4 0 3.4 0.5 2.7 1.2s-19 6.4-40.6 12.8-50.1 14.7-63.3 18.6-65.3 19.2-115.8 34.1l-91.8 27-30.2-9a51745 51745 0 0 0-56.2-16.7c-93.1-27.6-163.6-48.6-201.8-60-11.6-3.5-20.6-6.6-20-7s4.7-1.4 9.1-2.3c14.2-2.9 19.5-12.3 12-21.2-2.3-2.7-4.7-4.1-7-4.1-4-0-56.1 11.5-61.9 13.7-7.1 2.6-7.6 5.6-7.6 43.3 0 44.3-1.8 40.7 24.9 49.1 58.3 18.2 106.8 33.5 145.7 45.9a20646 20646 0 0 0 50 15.8l47.3 14.9c14.3 4.5 41 12.9 59.3 18.7s34.9 10.6 36.8 10.6c3.4 0 24.5-6.5 137.2-42.2a71129 71129 0 0 1 73.3-23.2 239744 239744 0 0 0 73.3-23.1c29-9.1 57.1-17.9 62.6-19.5 6.4-1.9 11.2-4.3 13.7-6.7l3.8-3.8v-36.6c0-45.1 1.5-41.8-21-47a2543.8 2543.8 0 0 1-31.2-7.4c-19.1-4.7-25.1-4.9-29.7-0.8m-582.8 46.4c0.7 0.7 2.5 1.2 4 1.2 2.7 0 17.7 4.3 22.7 6.5 1.5 0.6 5.1 1.8 8 2.6 14.7 4.1 21 5.9 32.3 9.5 6.8 2.2 13.2 4 14.3 4s8.5 2.1 16.4 4.7 17.2 5.4 20.8 6.1c3.5 0.8 8 2.2 9.9 3.2s4 1.5 4.7 1c0.7-0.4 1.7-0.1 2.2 0.8 0.5 0.8 2.7 1.8 4.9 2.1 4.5 0.6 18 4.5 32.6 9.2 20 6.5 32.7 10.2 35.4 10.2 1.5-0 3.9 0.8 5.4 1.9 1.5 1 6.6 2.6 11.3 3.5s11.4 2.7 14.8 4.1 7.2 2.5 8.4 2.5c1.9 0 8.1 1.8 33.3 10 19.4 6.3 18.6 6.3 39.6-0.2 10.5-3.3 21.5-6.5 24.4-7.1s13.1-3.6 22.7-6.5c9.5-2.9 43.1-12.9 74.7-22.2 31.5-9.3 59.1-17.6 61.3-18.6 4.9-2.2 8-3.1 13.9-4.1 5.4-0.9 110.7-31.9 117.8-34.7l5-1.9v22.3 22.3l-29 9.1a15786 15786 0 0 0-60.3 19 29624 29624 0 0 1-75.3 23.8c-64.5 20.3-88.2 27.8-112 35.4-47.6 15.2-59.4 18.7-62.7 18.7-1.9 0-18.5-4.8-37-10.6a400775 400775 0 0 1-114.3-36.1c-44.4-14-96-30.3-114.7-36.2s-43.2-13.7-54.3-17.4l-20.3-6.7v-21c0-11.6 0.3-21.3 0.7-21.7 0.9-0.9 36.8 9.4 38.6 11");
}


/* --- 20x20 --- */

.icon_php path {
	d:	path("m2 0c-1.1 0-2 0.9-2 2v7c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6 0.4-1 1-1h9v4c0 1.1 0.9 2 2 2h4v1c0 0.6 0.4 1 1 1s1-0.4 1-1v-2.3c0-0.3-0.1-0.5-0.3-0.7l-5.5-5.7c-0.1-0.2-0.4-0.3-0.7-0.3zm-1 12c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-1h1c1.7 0 3.1-1.4 3-3.2-0.1-1.6-1.5-2.8-3.2-2.8zm7 0c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-2h2v2c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6-0.4-1-1-1s-1 0.4-1 1v2h-2v-2c0-0.6-0.4-1-1-1zm7 0c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-1h1c1.7 0 3.1-1.4 3-3.2-0.1-1.6-1.5-2.8-3.2-2.8zm-13 2h1c0.6 0 1 0.4 1 1s-0.4 1-1 1h-1zm14 0h1c0.6 0 1 0.4 1 1s-0.4 1-1 1h-1z");
}


/* --- 20x20 --- */

.icon_js path {
	d:	path("m2 0c-1.1 0-2 0.9-2 2v7c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6 0.4-1 1-1h9v4c0 1.1 0.9 2 2 2h4v9c0 0.6-0.4 1-1 1h-1c-0.6 0-1 0.4-1 1s0.4 1 1 1h2c1.1 0 2-0.9 2-2v-12c0-0.3-0.1-0.6-0.3-0.7l-5.4-5c-0.2-0.2-0.5-0.3-0.7-0.3zm3 12c-0.6 0-1 0.4-1 1v4c0 0.6-0.4 1-1 1h-2c-0.6 0-1 0.4-1 1s0.4 1 1 1h3c1.1 0 2-0.9 2-2v-5c0-0.6-0.4-1-1-1zm4 0c-1.1 0-2 0.9-2 2v1c0 1.1 0.9 2 2 2h1.5c0.3 0 0.5 0.2 0.5 0.5s-0.2 0.5-0.5 0.5h-2.5c-0.6 0-1 0.4-1 1s0.4 1 1 1h3c1.1 0 2-0.9 2-2v-1c0-1.1-0.9-2-2-2h-1.5c-0.3 0-0.5-0.2-0.5-0.5s0.2-0.5 0.5-0.5c2.2 0 3.5 0.2 3.5-1 0-0.6-0.4-1-1-1z");
}


/* --- 490x490 --- */

.icon_proto path {
	d:	path("m10 42.5c-5.5 0-10 4.5-10 10v310c0 5.5 4.5 10 10 10h405c2.6 0 5.2-1 7.1-2.9l65-65c1.9-1.9 2.9-4.5 2.9-7.1v-245c0-5.5-4.5-10-10-10h-470zm10 20h450v225h-55c-5.5 0-10 4.5-10 10v55h-385v-290zm40 25c-5.5 0-10 4.5-10 10v60c0 5.5 4.5 10 10 10h45v45c0 5.5 4.5 10 10 10h90v70c0 5.5 4.5 10 10 10h25v10c0 5.5 4.5 10 10 10h100c5.5 0 10-4.5 10-10v-50c0-5.5-4.5-10-10-10h-100c-5.5 0-10 4.5-10 10v20h-15v-60h15v10c0 5.5 4.5 10 10 10h100c5.5 0 10-4.5 10-10v-50c0-5.5-4.5-10-10-10h-100c-5.5 0-10 4.5-10 10v20h-15v-65h15v15c0 5.5 4.5 10 10 10h100c5.5 0 10-4.5 10-10v-50c0-5.5-4.5-10-10-10h-100c-5.5 0-10 4.5-10 10v15h-25c-5.5 0-10 4.5-10 10v75h-80v-35h55c5.5 0 10-4.5 10-10v-60c0-5.5-4.5-10-10-10h-120zm320 5v20h25v-20h-25zm40 0v20h25v-20h-25zm-350 15h100v40h-100v-40zm190 5h80v30h-80v-30zm120 10v20h25v-20h-25zm40 0v20h25v-20h-25zm-40 30v20h25v-20h-25zm40 0v20h25v-20h-25zm-40 30v20h25v-20h-25zm40 0v20h25v-20h-25zm-160 10h80v30h-80v-30zm-210 55v20h75v-20h-75zm85 0v20h20v-20h-20zm125 25h80v30h-80v-30zm-210 5v20h75v-20h-75zm0 30v20h130v-20h-130zm375 0h30.9l-30.9 30.9v-30.9zm-415 80c-5.5 0-10 4.5-10 10v40c0 5.5 4.5 10 10 10h410c1.1 0 2.1-0.2 3.2-0.5l60-20c4-1.4 6.8-5.2 6.8-9.5s-2.8-8.1-6.8-9.5l-60-20c-1.1-0.3-2.1-0.5-3.2-0.5h-410zm10 20h40v20h-40v-20zm60 0h330v20h-330v-20zm350 3.9 18.4 6.1-18.4 6.1v-12.2z");
}


/* --- 256x256 --- */

.icon_coder path {
	d:	path("m95.4 47.5c-18 0-32.6 14.6-32.6 32.6s14.6 32.6 32.6 32.6 32.6-14.6 32.6-32.6c0-12.4-7-23.2-17.2-28.8l-7.9 16.8c2.4 2.5 3.9 5.9 3.9 9.6 0 7.6-6.2 13.8-13.8 13.8s-13.8-6.2-13.8-13.8 6.2-13.8 13.8-13.8c0.3 0 0.7 0.1 1 0.1l7.4-15.9c-1.9-0.4-3.9-0.6-6-0.6zm-42.1 57.6c-15 0-26.3 12.4-34.5 30.3-10 21.8-15.7 47.7-16.8 73.1h217.5c3.1 0 5.9-2 6.9-5l27.6-80.9-13.6-4.6-25.9 76.1h-39.3c0-9.8-7.4-17.1-17.7-17.1h-61s-13.9-47.2-21.3-59.2c-4.8-7.8-12.2-12.7-21.9-12.7z");
}


/* --- 300x300 --- */

.icon_warehouse path {
	d:	path("m218.9 134h-69c-4 0-7.3 3.3-7.3 7.3v61.7h-61.7c-4 0-7.3 3.3-7.3 7.3v69c0 4 3.3 7.3 7.3 7.3h138c4 0 7.3-3.3 7.3-7.3v-138c0-4-3.3-7.3-7.3-7.3zm-61.7 94 16.8 16.8-16.8 16.8zm-14.6 33.7-16.8-16.8 16.8-16.8zm25-44h33.7l-16.8 16.8zm0-14.6 16.8-16.8 16.8 16.8zm44-10.4-16.8-16.8 16.8-16.8zm-27.2-27.2-16.8-16.8h33.7zm-10.4 10.4-16.8 16.8v-33.7zm-58.7 58.7-16.8-16.8h33.7zm-10.4 10.4-16.8 16.8v-33.7zm10.4 10.4 16.8 16.8h-33.6zm69 0 16.8 16.8h-33.7zm10.4-10.4 16.8-16.8v33.7zm97.9-164.7-138-69c-2.9-1.5-6.4-1.5-9.4 0l-138 69c-3.5 1.8-5.8 5.4-5.8 9.4v189.7c0 5.8 4.7 10.5 10.5 10.5h34.5c5.8 0 10.5-4.7 10.5-10.5v-162.1h186.2v162.1c0 5.8 4.7 10.5 10.5 10.5h34.5c5.8 0 10.5-4.7 10.5-10.5v-189.8c0-4-2.2-7.6-5.8-9.4zm-15.1 188.7h-13.6v-162.1c0-5.8-4.7-10.5-10.5-10.5h-207c-5.8 0-10.5 4.7-10.5 10.5v162.1h-13.6v-172.9l127.6-63.8 127.6 63.8z");
}


/* --- 312x312 --- */

.icon_factory path {
	d:	path("m41.4 41.9c1.4-15.1 8.7-16.3 18.8-16.3 1.6 0 3.4 0.1 5.3 0.1 13.3 0.4 29.2 0.5 37.2-17.5l1.1-2.4-8.1-3.6-1.1 2.4c-4.6 10.3-12 12.3-23.3 12.3-1.8 0-3.7-0.1-5.6-0.1-15.1-0.4-31-0-33.2 24.3l-0.2 2.6 8.9 0.8zm180.3 122v-33.5l-97.8 36.3v-36.3l-64.4 23.9v-99.1h-37.8v113.2l-21.7 8v133.4h312v-179.4zm21.4 14.2h44v50.6h-44zm-91.6 0h44v50.6h-44zm-96 0h44v50.6h-43.9zm247.5 122.8h-294.1v-22.6h294.2z");
}


/* --- 32x32 --- */

.icon_robot path {
	d:	path("m19.34 0.57c-0.39 0.02-0.78 0.1-1.16 0.27l-15.01 6.13c-1.83 0.83-2.66 2.96-1.84 4.75 0.35 0.77 0.94 1.35 1.64 1.7l5.47 13.48 0.23 0.59c-1.06 0.98-1.72 2.38-1.72 3.94h10.73c0-2.96-2.4-5.37-5.37-5.37h-0.03l-0.38-1.05 0.06 0.01-0.1-0.14-4.38-12.04v-0.05l12.07-6.04 4.24 7.21c-0.01 0.02-0.01 0.03-0.02 0.05-0.03 0.09-0.06 0.18-0.08 0.28l-3.38 2.06 1.14 1.03 1.65 3.51 1.68 0.31-0.68-4.86 0.26-0.15c0.17 0.15 0.38 0.27 0.61 0.35 0.87 0.31 1.82-0.02 2.31-0.75l1.23 4.72 1.47-0.87 0.29-3.44 0.14 0.03 0.58-1.79-3.59-0.66c-0.22-0.43-0.6-0.77-1.08-0.95l-0.18-0.06-4.06-7.97c0.38-0.76 0.43-1.68 0.05-2.51-0.5-1.11-1.62-1.76-2.79-1.72zm0.08 1.16c0.67 0 1.28 0.38 1.58 0.96l0.06 0.12s0 0.01 0.01 0.01c0.02 0.04 0.03 0.08 0.04 0.12s0.03 0.08 0.04 0.12c0 0.01 0 0.02 0.01 0.03l0.03 0.12c0.03 0.18 0.03 0.36 0.01 0.53-0.1 0.75-0.68 1.38-1.47 1.51-0.03 0.01-0.06 0.01-0.09 0.01h-0.03c-0.02 0-0.04 0-0.06 0.01h-0.27c-0.02 0-0.04 0-0.06-0.01h-0.03c-0.03 0-0.05-0.01-0.08-0.01-0.03-0.01-0.05-0.01-0.08-0.02-0.01 0-0.02-0.01-0.03-0.01-0.02 0-0.03-0.01-0.05-0.01-0.01 0-0.02-0.01-0.03-0.01-0.02-0.01-0.03-0.01-0.05-0.01-0.01 0-0.02-0.01-0.03-0.01-0.01-0.01-0.03-0.01-0.04-0.02-0.01 0-0.02-0.01-0.03-0.01-0.01-0.01-0.03-0.01-0.04-0.02-0.01 0-0.02-0.01-0.03-0.01-0.02-0.01-0.03-0.01-0.05-0.02l-0.02-0.01c-0.02-0.01-0.05-0.02-0.07-0.04-0.44-0.26-0.77-0.7-0.86-1.25-0.16-0.97 0.49-1.88 1.46-2.04 0.1-0.02 0.19-0.02 0.29-0.02zm-15.01 6.13c0.08-0.01 0.16-0.01 0.24 0 1.1 0.04 2.06 0.85 2.25 1.99 0.21 1.29-0.66 2.52-1.96 2.73-1.29 0.21-2.52-0.66-2.73-1.96-0.21-1.29 0.66-2.52 1.96-2.73 0.08-0.01 0.16-0.03 0.24-0.03z");
}


/* --- 48x48 --- */

.icon_lab path {
	d:	path("m17.9 1.2c-1.2 0-2.3 1-2.3 2.2v13.2l-11.9 22.2c-1 1.7-0.9 3.7 0.1 5.4 1 1.6 2.7 2.6 4.7 2.6h31.1c1.9 0 3.7-1 4.7-2.7s1-3.7 0.1-5.4l-12-22.1v-13.2c0-1.2-1-2.2-2.3-2.2zm2.6 16.6c1.1 0 1.9 0.9 1.9 1.9 0 1.1-0.9 1.9-1.9 1.9-1.1 0-1.9-0.9-1.9-1.9 0-1.1 0.9-1.9 1.9-1.9zm0 6.8c1.7 0 3.1 1.4 3.1 3.1s-1.4 3.1-3.1 3.1-3.1-1.4-3.1-3.1 1.4-3.1 3.1-3.1zm5.5 4.9c1.1 0 1.9 0.9 1.9 1.9 0 1.1-0.9 1.9-1.9 1.9-1.1 0-1.9-0.9-1.9-1.9 0-1.1 0.9-1.9 1.9-1.9zm-11.7 2.4h0.3c4 0.4 8.6 3.8 12.6 3.7 2.2-0.1 4.2-0.9 6.1-1.9 1.1-0.6 2.5-0.2 3.1 0.9l2.2 4c0.4 0.7 0.4 1.5 0 2.2s-1.1 1.1-1.9 1.1h-25.3c-0.8 0-1.5-0.4-1.9-1.1-0.5-0.7-0.5-1.6-0.1-2.3l3-5.4c0.4-0.7 1.1-1.1 1.8-1.2z");
}


/* --- 48x48 --- */

.icon_timo path {
	d:	path("M5.5 2.84a.96.96 0 0 0-.96.96v10a.96.96 0 0 0 .96.96.96.96 0 0 0 .96-.96v-.74h1.4v21.99c-1.88.44-3.3 2.14-3.3 4.15 0 2.34 1.92 4.26 4.26 4.26 2.01 0 3.71-1.42 4.15-3.3h21.97v1.38h-.74a.96.96 0 0 0-.96.96.96.96 0 0 0 .27.65c-.13.3-.2.63-.2.98 0 1.42 1.17 2.59 2.59 2.59.62 0 1.2-.23 1.65-.6.45.37 1.03.6 1.65.6s1.2-.23 1.65-.6c.45.37 1.03.6 1.65.6 1.42 0 2.59-1.17 2.59-2.59 0-.34-.07-.67-.19-.97a.96.96 0 0 0 .26-.66.96.96 0 0 0-.96-.96h-.74v-2.35c0-1.34-.54-2.47-1.35-3.19a4.23 4.23 0 0 0-1.95-.97V12.95c1.88-.44 3.3-2.14 3.3-4.15 0-2.34-1.92-4.26-4.26-4.26-2.01 0-3.71 1.42-4.15 3.3H12.98c-.15-.71-.47-1.38-.97-1.95-.65-.73-1.66-1.18-2.82-1.28a.96.96 0 0 0-.37-.07H6.46V3.8a.96.96 0 0 0-.96-.96zm.96 3.62h2.36c.86 0 1.38.29 1.76.71.37.42.58 1.02.58 1.63s-.21 1.21-.58 1.63-.9.71-1.76.71H6.46zm32.74 0c1.3 0 2.34 1.04 2.34 2.34s-1.04 2.34-2.34 2.34c-.63 0-1.19-.24-1.61-.64a.96.96 0 0 0-.04-.05.96.96 0 0 0-.02-.02c-.41-.42-.66-1-.66-1.64 0-1.3 1.04-2.34 2.34-2.34zM8.81 8.05a.75.75 0 0 0-.75.75.75.75 0 0 0 .75.75.75.75 0 0 0 .75-.75.75.75 0 0 0-.75-.75zm30.39 0a.75.75 0 0 0-.75.75.75.75 0 0 0 .75.75.75.75 0 0 0 .75-.75.75.75 0 0 0-.75-.75zM12.98 9.76h22.07c.11.46.29.9.54 1.29l-6.33 6.33A8.425 8.425 0 0 0 24 15.54c-4.66 0-8.46 3.8-8.46 8.46 0 1.99.69 3.82 1.85 5.27l-6.32 6.32c-.39-.25-.83-.43-1.29-.54V12.96c.92-.19 1.69-.64 2.23-1.26.5-.56.82-1.24.97-1.95zm23.97 2.65c.39.25.83.43 1.29.54v22.08c-.71.15-1.38.47-1.95.97-.62.55-1.07 1.32-1.26 2.24H12.96c-.11-.46-.29-.9-.54-1.29l6.32-6.32a8.397 8.397 0 0 0 5.25 1.84c4.66 0 8.46-3.8 8.46-8.46 0-1.99-.69-3.81-1.84-5.26zM24 17.46c1.77 0 3.37.7 4.54 1.83a.96.96 0 0 0 .07.1.96.96 0 0 0 .1.07A6.513 6.513 0 0 1 30.54 24 6.53 6.53 0 0 1 24 30.54c-1.74 0-3.31-.67-4.48-1.77a.96.96 0 0 0-.12-.15.96.96 0 0 0-.11-.08A6.513 6.513 0 0 1 17.46 24 6.53 6.53 0 0 1 24 17.46zm15.2 19.39c.61 0 1.21.21 1.63.58s.71.9.71 1.76v2.35h-4.68v-2.35c0-.86.29-1.38.71-1.76.42-.37 1.02-.58 1.63-.58zm-30.38.01c.64 0 1.22.25 1.64.66a.96.96 0 0 0 .02.03.96.96 0 0 0 .03.02c.41.42.66 1 .66 1.64 0 1.3-1.04 2.34-2.34 2.34s-2.34-1.04-2.34-2.34 1.04-2.34 2.34-2.34zm-.01 1.59a.75.75 0 0 0-.75.75.75.75 0 0 0 .75.75.75.75 0 0 0 .75-.75.75.75 0 0 0-.75-.75zm30.39 0a.75.75 0 0 0-.75.75.75.75 0 0 0 .75.75.75.75 0 0 0 .75-.75.75.75 0 0 0-.75-.75zm-3.35 5.01a.96.96 0 0 0 .05.01h.12c.32.05.55.32.55.66 0 .38-.29.67-.67.67s-.67-.29-.67-.67c0-.36.27-.64.62-.67zm6.73 0c.34.04.58.31.58.66 0 .38-.29.67-.67.67s-.67-.29-.67-.67c0-.34.23-.61.55-.66h.12a.96.96 0 0 0 .08 0zm-3.5 0h.23c.32.05.55.32.55.66 0 .38-.29.67-.67.67s-.67-.29-.67-.67c0-.34.23-.61.55-.66z");
}


/* --- 500x500 --- */

.icon_hr path {
	d:	path("M280 368.3v-1.8c-.6-21.5-4.7-36.3-26.7-50.1-29.1-18.3-61.6-34.1-61.6-34.1l-25.9 81.8-15.1-30.4c26.5-37-1.9-38.9-6.9-38.9h-.4c-5.1 0-33.5 1.9-6.9 38.9l-15.1 30.4-25.9-81.8S63 298.1 33.9 316.4C12 330.2 8 345 7.3 366.5v1.8c-.1 4.1-.1 8.5 0 13.1v-1.6V439H280v-59.2 1.6c.1-4.6.1-9 0-13.1zM143.7 113c-42.1 0-76.3 34.1-76.3 76.3s34.1 76.3 76.3 76.3 76.3-34.1 76.3-76.3-34.2-76.3-76.3-76.3zm0 51.4c-13.7 0-24.9 11.1-24.9 24.9 0 6.3-5.1 11.4-11.4 11.4S96 195.6 96 189.3c0-26.3 21.4-47.6 47.6-47.6 6.3 0 11.4 5.1 11.4 11.4s-5.1 11.3-11.3 11.3zM356.3 61c-42.1 0-76.3 34.1-76.3 76.3s34.1 76.3 76.3 76.3 76.3-34.1 76.3-76.3S398.5 61 356.3 61zm0 51.4c-13.7 0-24.9 11.1-24.9 24.9 0 6.3-5.1 11.4-11.4 11.4s-11.4-5.1-11.4-11.4c0-26.3 21.4-47.6 47.6-47.6 6.3 0 11.4 5.1 11.4 11.4.1 6.2-5 11.3-11.3 11.3zm136.4 203.9v-1.8c-.7-21.5-4.7-36.3-26.7-50.1-29.1-18.3-61.6-34.1-61.6-34.1l-25.9 81.8-15.1-30.4c26.5-37-1.9-38.9-6.9-38.9h-.4c-5.1 0-33.5 1.9-6.9 38.9l-15.1 30.4-25.9-81.8s-32.5 15.8-61.6 34.1c-6.7 4.2-11.7 8.5-15.5 13.1 10.5 5.7 22.5 12.6 34.1 19.9 14.1 8.9 23.8 19.2 29.7 31.6 5.8 12.3 7.1 24.9 7.4 35.7.1.7.1 1.4.1 2.1v1.3c.1 4.4.1 8.9 0 13.5v5.4h190.2v-59.2 1.6c.2-4.6.2-9 .1-13.1z");
}


/* --- SOFT. buttons --- */

/* --- 400x400 --- */

.icon_cad path {
	d:	path("M36.4 3.7c-18 0-32.7 14.7-32.7 32.7v327.1c0 18.1 14.7 32.8 32.7 32.8h327.2c18 0 32.7-14.7 32.7-32.7V36.4c0-18-14.7-32.7-32.7-32.7zm0 21.8h327.2c6 0 10.9 4.8 10.9 10.9v54.5h-349V36.4c0-6 4.8-10.9 10.9-10.9zm21.8 21.8c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h172.1c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-11-10.9zm217.1 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.8-10.9-10.9-10.9zm55.7 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-10.9-10.9zM25.5 112.7h349v250.8c0 6-4.8 10.9-10.9 10.9H36.4c-6 0-10.9-4.8-10.9-10.9zm134.3 37.8c-1 0-2.2.4-3.2 1-4 2.6-103.1 89-104 90.6-1.5 2.7 0 5.5 5.5 10.9 2.9 2.8 6.1 5.1 7 5.1 2.2 0 1 1.1 50.5-41.9l44-38.2 44 38.2c49.9 43.2 48.3 41.9 50.5 41.9s12.1-9.6 12.8-12.4c.3-1.3.1-2.9-.7-4-.7-1-9.8-9.2-20.2-18.2l-18.9-16.4-.3-20c-.3-17.8-.5-20.1-1.8-21.5-1.2-1.2-3.3-1.6-11-1.8-8.5-.2-9.7-.1-11.6 1.4s-2.1 2.4-2.5 9.8l-.4 8.1-18.5-16c-10.2-8.8-19.3-16.3-20.4-16.5-.3-.1-.6-.1-1-.1zm121.6.2-.3 5.4c-.1 3-.1 5.9.2 6.5.4 1 6.2 1.1 33.5.9l33.1-.2v-12.6zm33.3 27c-.6 0-5.4 5.4-10.7 12.1-11.1 14-11.1 14.4-1.8 14.4h5.8v67.4h-5.8c-3.9 0-6.1.4-6.8 1.2-1 1.2-1.1 1 14.1 20.1 2.5 3.2 5 5.6 5.5 5.4s5.2-5.7 10.5-12.4c11-13.9 11.1-14.4 1.8-14.4h-5.8v-67.4h5.8c9.3 0 9.2-.4-1.8-14.4-5.3-6.7-10.1-12.1-10.7-12.1zm-155 22.3-80.1 69.4v23.1c0 24.7.1 25.5 4.4 29.5 1.1 1.1 3.2 2.3 4.5 2.7s14.8.8 30 .8l27.6.1.4-53.5h26.1l.4 53.5h27.2c15.8 0 28.4-.4 30.2-.9 3.9-1.1 8.2-5.4 8.7-8.8.2-1.4.5-12.4.7-24.4l.3-21.8zm121.7 112.5-.3 5.4c-.1 3-.1 5.9.2 6.5.4 1 6.2 1.1 33.5.9l33.1-.2v-12.6z");
}


/* --- 400x400 --- */

.icon_term path {
	d:	path("M36.4 3.7c-18 0-32.7 14.7-32.7 32.7v327.1c0 18.1 14.7 32.8 32.7 32.8h327.2c18 0 32.7-14.7 32.7-32.7V36.4c0-18-14.7-32.7-32.7-32.7zm0 21.8h327.2c6 0 10.9 4.8 10.9 10.9v54.5h-349V36.4c0-6 4.8-10.9 10.9-10.9zm21.8 21.8c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h172.1c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-11-10.9zm217.1 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.8-10.9-10.9-10.9zm55.7 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-10.9-10.9zM25.5 112.7h349v250.8c0 6-4.8 10.9-10.9 10.9H36.4c-6 0-10.9-4.8-10.9-10.9zm78.2 52.8c-4.1.1-7.6 3.1-9.3 6.6-2.6 5.3-2.3 12 1.2 16.8 1.8 2.1 4 3.9 5.9 5.9l50.4 49.2c-19.1 18.7-38.2 37.3-57.2 56-5 6-4.8 15.8.8 21.4 2.6 2.6 6.8 3.8 10.1 2.1 2.9-1.5 4.9-4.2 7.3-6.4 21.1-20.9 42.3-41.7 63.4-62.7 3.8-4.1 4.7-10.2 3.2-15.5-.9-3-2.8-5.6-5.1-7.7L109.3 167c-1.6-1.2-3.6-1.9-5.6-1.8zm145.1 130.7c-16 0-32.1 0-48.1.1-4.2.5-7.5 3.9-8.9 7.7-2.4 5.9-1.2 13.5 3.6 17.9 2.3 2.1 5.6 2.8 8.6 2.5 31.5 0 63 .1 94.6-.1 4.1-.4 7.4-3.7 8.9-7.4 2.6-5.9 1.5-13.4-3.2-18-2-1.9-4.7-2.9-7.4-2.8h-48.1z");
}


/* --- 400x400 --- */

.icon_desig path {
	d:	path("M36.4 3.7c-18 0-32.7 14.7-32.7 32.7v327.1c0 18.1 14.7 32.8 32.7 32.8h327.2c18 0 32.7-14.7 32.7-32.7V36.4c0-18-14.7-32.7-32.7-32.7zm0 21.8h327.2c6 0 10.9 4.8 10.9 10.9v54.5h-349V36.4c0-6 4.8-10.9 10.9-10.9zm21.8 21.8c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h172.1c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-11-10.9zm217.1 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.8-10.9-10.9-10.9zm55.7 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-10.9-10.9zM25.5 112.7h349v250.8c0 6-4.8 10.9-10.9 10.9H36.4c-6 0-10.9-4.8-10.9-10.9zm289.6 38.8c-4.1.1-8 1.4-11.7 3.1-12.8 6-25.6 11.8-38.4 17.8l-68.1 31.5c-6.3 3.2-12 8.3-15 15.2-2.4 5.2-3.5 11-2.9 16.7.7 6.4 3.5 12.3 7.3 17.2 4.2 5.5 9.8 9.5 15.9 11.8 3.1 1.2 6.3 2 9.6 2.5 1.2.2 2.6.3 3.9.4 4.3.2 8.6-.2 12.7-1.3 6.7-1.6 12.9-4.8 18.7-8.8 9.7-6.5 18.8-14.1 27.8-21.8 16.5-14.2 32.4-29.2 48.1-44.4 4.6-4.5 9.4-9 12.4-15 1.5-2.9 2.4-6.2 1.8-9.6-.6-3.7-2.8-6.7-5.3-9.1-4.6-4.4-10.9-6.3-16.9-6.2zm-179 92.2c-3.3.1-6.6.4-9.7 1-4.7.9-9.2 2.7-13.3 5.3-6.1 3.7-11.4 8.8-15.9 14.5-2 2.4-4.9 3.7-7.8 3.7-3 .1-6-1.1-8.4-3.1-6-4.6-11-10.5-16.1-16.2-1.2 5-2 10.2-2.3 15.4-.1 2.2-.2 4.6-.1 6.9.4 9.5 2.7 19.1 7.3 27.2 3.5 6 8.4 10.9 13.8 14.8 3.5 2.5 7.3 4.6 11 6.3 3.3 1.4 6.8 2.7 10.2 3.6 8.8 2.5 18 3.8 27 3.3 4.6-.2 9.2-1 13.8-2.2 2.8-.8 5.8-1.8 8.5-3.1 8.3-3.7 16.1-9.3 21.8-16.9 1-1.3 1.9-2.6 2.7-3.8 3.5-5.4 5.9-11.6 7.5-18l1.2-4.2c-10.1-5.8-18.9-14.8-23.7-26.3-.7-1.8-1.4-3.6-1.9-5.4-8.5-1.6-17-3-25.5-2.8z");
}


/* --- 400x400 --- */

.icon_geogeb path {
	d:	path("M36.4 3.7c-18 0-32.7 14.7-32.7 32.7v327.1c0 18.1 14.7 32.8 32.7 32.8h327.2c18 0 32.7-14.7 32.7-32.7V36.4c0-18-14.7-32.7-32.7-32.7zm0 21.8h327.2c6 0 10.9 4.8 10.9 10.9v54.5h-349V36.4c0-6 4.8-10.9 10.9-10.9zm21.8 21.8c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h172.1c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-11-10.9zm217.1 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.8-10.9-10.9-10.9zm55.7 0c-6 0-10.9 4.8-10.9 10.9s4.8 10.9 10.9 10.9h10.6c6 0 10.9-4.8 10.9-10.9s-4.9-10.9-10.9-10.9zM25.5 112.7h349v250.8c0 6-4.8 10.9-10.9 10.9H36.4c-6 0-10.9-4.8-10.9-10.9zM99.4 142c-2.6 0-5.1 1-6.8 2.4-3.9 2.8-7.9 5.5-11.7 8.3-2.6 2.1-2.8 5.5-.6 7.8 2 2.2 6.1 3.4 9.8 2.7.2 0 .8-.3.6.1v21.1c.2 2.8 3.3 5.3 7.1 5.9.4 0-.2.1-.4.1-2.6.5-4.9 1.8-6 3.6-.7 1.1-.9 2.4-.8 3.7V254H68.7c-3.9.2-7.4 2.4-8.2 5.1-.8 2.6.8 5.5 4 6.9 1.8.8 4 1.1 6.1 1h20.1v68.9c.2 2.8 3.2 5.4 7 6 3.6.7 7.8-.5 9.7-2.8 1.2-1.3 1.6-2.9 1.5-4.4V267h84.6c2 10 4.2 19.9 7.5 29.7 1.9 5.4 4.1 10.9 7.5 15.9 2.2 3.3 4.9 6.4 8.6 8.9 3.1 2.1 7 3.7 11.3 4.1 4.2.5 8.6.1 12.5-1.1 4.9-1.4 8.9-4 12-7 4-3.9 6.6-8.4 8.6-12.9 1.9-4.2 3.3-8.5 4.5-12.8.4-2.4-1.2-4.9-4-6.2 2.9-.5 5.3-2 6.3-4 .6-1.1.6-2.3.9-3.4.8-3.8 1.6-7.5 2.4-11.3h38.6c-1 2.3-.2 4.9 2.2 6.6 2.2 1.6 5.7 2.3 8.7 1.8 1.8-.3 3.5-1.1 4.7-2.1 3.9-2.8 7.9-5.7 11.7-8.5 2.7-2.2 2.9-5.7.4-8-1-1-2.4-1.8-3.5-2.7-3.2-2.3-6.4-4.7-9.7-7-2.9-1.8-7.6-2-10.8-.5-3.1 1.4-4.8 4.3-3.9 6.9.1.2.1.4.2.6h-35.6c.4-1.4.7-2.8 1.1-4.1 1.2-4 2.5-8 4.5-11.9.1-.3.3-.6.5-.9 1.3-2.4 2.8-4.9 5.2-6.9 1.3-1.1 2.9-2 4.9-2.1 1.2 0 2.4-.1 3.6-.4 3-.8 5.3-2.8 5.8-5 .6-2.6-1.1-5.4-4.3-6.7-1.8-.8-3.9-1-5.9-.9-5.5.2-10.9 1.8-15 4.5-4.6 2.9-7.8 6.8-10.2 10.8-2.2 3.7-3.7 7.5-5.1 11.4-1.4 4.1-2.6 8.2-3.6 12.4h-46.9c-2.7-14.2-5.1-28.5-8.8-42.6-1.9-7.1-4.1-14.2-7.3-21-2.2-4.7-4.9-9.4-8.9-13.6-2.9-3-6.5-5.7-11.1-7.4-4-1.5-8.5-2-13-1.6-4.9.4-9.6 1.9-13.3 4.2-4.8 2.9-8.2 6.7-10.9 10.7-3.5 5.1-5.9 10.5-8 16-1.7 4.5-3.1 9-4.4 13.6-.5 2.6 1.4 5.3 4.5 6.5-2.9.2-5.6 1.5-6.9 3.4-.6.8-1 1.8-1.2 2.7-1.1 3.7-2.1 7.3-3.8 10.9-1.2 2.3-3.2 4.5-6.1 5.7-.4.2-.9.3-1.3.5v-45.5c-.2-2.8-3.2-5.4-7.1-6-.5 0 0-.1.2-.1 2.7-.5 5.1-1.9 6.2-3.8.7-1.1.8-2.3.7-3.5v-20.2c3.1.7 6.8.1 9.1-1.5 2.1-1.4 3.1-3.5 2.7-5.6-.3-1.6-1.5-3-3.1-4.1-4-2.8-7.9-5.6-11.9-8.4-1.7-1-3.9-1.6-6.2-1.5zm63.8 38.6c1.9.1 3.4 1.1 4.7 2.1 2.4 2 4.1 4.4 5.5 6.9 1.4 2.4 2.6 4.9 3.6 7.4.2.4.4 1 .6 1.5 1.3 3.3 2.4 6.7 3.4 10.1 1.6 5.4 2.9 10.9 4.1 16.4 2.1 9.4 3.8 18.9 5.6 28.4 0 .2.2.6 0 .6h-75.2c4.4-1.3 8.3-3.4 11.4-6 3.6-3 6.1-6.7 7.5-10.5 1.5-3.7 2.6-7.6 3.7-11.4.5-2.6-1.4-5.3-4.5-6.5 2.8-.2 5.4-1.5 6.8-3.2.7-.9 1.1-1.9 1.3-2.8.9-3.1 1.9-6.1 3-9.2l.6-1.5c1.6-4.3 3.5-8.7 6-12.8 1.5-2.5 3.3-4.9 5.7-6.9 1.4-1.1 3.1-2.2 5.3-2.4h.9zm73.8 86.3h16.3c-.8 3.9-1.7 7.9-2.5 11.8-.3 2.3 1.3 4.6 4 5.9-2.9.5-5.3 2-6.3 4-.5 1-.7 2-1 3-1.1 3.7-2.4 7.3-4.2 10.9-.1.2-.2.4-.3.7-1.4 2.7-3 5.3-5.7 7.5-1.3 1.1-3 1.9-5 2.1-.8.1-1.6-.1-2.2-.4-1.4-.7-2.4-1.8-3.3-2.8-2.2-2.5-3.7-5.4-5-8.2-2.4-5.1-4.1-10.5-5.5-15.8-.9-3.1-1.6-6.2-2.3-9.3s-1.4-6.3-2-9.4h25.2z");
}


/* --- LANG buttons --- */

/* --- 512x512 --- */

.icon_tea path {
	d:	path("M397.2 359.9h50.1c35.7 0 64.7-29 64.7-64.7v-6.8c0-35.7-29-64.7-64.7-64.7H300.1a18 18 0 0 1 .3 3.5v47.7l15.5 11.7a13.4 13.4 0 0 1 5.4 10.7v58.1c0 7.4-6 13.4-13.4 13.4h-50.3c-7.4 0-13.4-6-13.4-13.4v-58.1c0-4.2 2-8.2 5.4-10.7l15.5-11.7v-47.7c0-1.2.1-2.3.3-3.5H100c-6.5 0-11.8 5.3-11.8 11.8v64c0 47.4 22 89.6 56.3 117.1H17.6c-9.7 0-17.6 7.9-17.6 17.6s7.9 17.6 17.6 17.6h52.2l7.7 14.6a75.7 75.7 0 0 0 66.8 40.2h216.2a75.7 75.7 0 0 0 66.8-40.2l7.7-14.6h52.2c9.7 0 17.6-7.9 17.6-17.6s-7.9-17.6-17.6-17.6H353.5c18.7-15 33.8-34.4 43.6-56.7m12.7-60.4V259h37.4c16.2 0 29.4 13.2 29.4 29.4v6.8c0 16.2-13.2 29.4-29.4 29.4h-39.5a151 151 0 0 0 2.1-25.1m-198.5-167c-3.2-10.7-1-19.4 6.9-27.2 32.6-32.6 15.3-75.1 1.5-93-5.9-7.7-17-9.2-24.8-3.2-7.7 5.9-9.2 17-3.2 24.8.1.1 5.6 7.6 8.3 17.5 4.3 15.6-1.8 24-6.8 29-33 33-15.1 73.6-1.1 90.5 3.5 4.2 8.5 6.3 13.6 6.3 4 0 8-1.3 11.3-4.1 7.5-6.2 8.5-17.4 2.3-24.9-.1-.1-5.4-6.8-8-15.7m93.3 0c-3.2-10.7-1-19.4 6.9-27.2 32.6-32.6 15.3-75.1 1.5-93-5.9-7.7-17-9.2-24.8-3.2-7.7 5.9-9.2 17-3.2 24.8.1.1 5.6 7.6 8.3 17.5 4.3 15.6-1.8 24-6.8 29-33 33-15.1 73.6-1.1 90.5 3.5 4.2 8.5 6.3 13.6 6.3 4 0 8-1.3 11.3-4.1 7.5-6.2 8.5-17.4 2.3-24.9-.1-.1-5.4-6.8-8-15.7");
}


/* --- 512x512 --- */

.icon_paella path {
	d:	path("M494.9 124.7c11-11 17.1-25.7 17.1-41.2 0-15.6-6.1-30.2-17.1-41.2l-25.2-25.2C458.7 6.1 444.1 0 428.5 0s-30.2 6.1-41.2 17.1l-12.2 12.2C338.8 10.2 298.1 0 255.9 0 187.5 0 123.3 26.6 75 75 26.6 123.3 0 187.5 0 255.9c0 42.2 10.2 82.9 29.3 119.2l-12.2 12.2C6.1 398.3 0 413 0 428.5c0 15.6 6.1 30.2 17.1 41.2l25.2 25.2c11 11 25.6 17.1 41.2 17.1s30.2-6.1 41.2-17.1l12.3-12.3c36.2 19.1 76.8 29.2 118.9 29.2 68.4 0 132.6-26.6 180.9-75 48.3-48.3 75-112.6 75-180.9 0-42.1-10.1-82.7-29.2-118.9zM103.2 473.4c-5.3 5.3-12.3 8.2-19.7 8.2s-14.4-2.9-19.7-8.2l-25.2-25.2c-5.3-5.3-8.2-12.3-8.2-19.7s2.9-14.4 8.2-19.7l7-7a259 259 0 0 0 29.3 35 259 259 0 0 0 35.3 29.5zm152.7-32.1c-49.5 0-96.1-19.3-131.1-54.3-35.1-35-54.3-81.6-54.3-131.1 0-102.3 83.2-185.4 185.4-185.4 49.5 0 96.1 19.3 131.1 54.3s54.3 81.6 54.3 131.1c0 102.3-83.2 185.4-185.4 185.4m217.5-338.1-7.1 7.1A259 259 0 0 0 436.8 75a259 259 0 0 0-35-29.4l7-7c5.3-5.3 12.3-8.2 19.7-8.2s14.4 2.9 19.7 8.2l25.2 25.2c5.3 5.3 8.2 12.3 8.2 19.7s-2.9 14.4-8.2 19.7m-107.9 43.1c-29.3-29.3-68.2-45.4-109.6-45.4-85.5 0-155 69.5-155 155 0 41.4 16.1 80.3 45.4 109.6s68.2 45.4 109.6 45.4c85.5 0 155-69.5 155-155 0-41.4-16.1-80.3-45.4-109.6");
}


/* --- 512x512 --- */

.icon_croissant path {
	d:	path("m378.2 155.9-39.7 158.2 35.7 21.7 104.4-106.3c-13.3-18.8-47.4-59.5-100.4-73.5zm-122.5-46.4c-19.2 0.4-69.8 6-95.2 25.9v0.1l46.8 186.7h96.7l46.8-186.7c-25.4-20-76-25.5-95.2-25.9zm225.6 162.1-65.7 66.9c5.3 4.3 11.6 9.6 19.2 16.2 14.2 12.3 30.3 26.2 45.1 36 20.1 13.3 26.5 11.1 26.6 11.1 0.5-0.2 2.9-2.8 4.2-11.5 7.1-48.6-15.4-95.4-29.4-118.7zm-450.6 0.7c-13.9 23.4-36.5 70.2-29.4 118.6 1.3 8.7 3.6 11.3 4.1 11.5 0.6 0 6.5 2.1 26.6-11.1 14.8-9.8 30.9-23.7 45.1-36 7.6-6.6 13.9-11.9 19.2-16.2zm102.5-116.3c-53 14-87.1 54.7-100.4 73.5l104.4 106.3 35.7-21.6h0.2l-39.7-158.2z");
}


/* --- 512x512 --- */

.icon_pretzel path {
	d:	path("M484.1 160.5c-24-34.7-60.1-58.4-96.6-63.5q-2.9-.4-6.5-1c-10-1.6-23.7-3.7-38.7-3.7-28.8 0-52.4 8.2-70.4 24.5l-12.1 12.1-6.4-4.8c-22-16.4-46.9-26.8-72.3-29.9-16.8-2.1-31.2-1.4-55.2 2.9C51.7 110.2 0 170.9 0 244.6c0 38.8 13.2 76.6 37.3 107.2l-11.6 11.6c-12.6 12.9-12.6 33.7.5 46.8a32.4 32.4 0 0 0 23 9.6c8.8 0 17.1-3.5 23.2-9.7l15-14.9a172.8 172.8 0 0 0 86.3 23.2H331c34.8 0 68.4-9.8 97.8-28.1l19.9 19.9a33 33 0 0 0 23.2 9.5c8.7 0 17-3.4 23.6-10.1a32.4 32.4 0 0 0 9.6-23.2 32.3 32.3 0 0 0-9.7-23.1l-17.6-17.6a170.2 170.2 0 0 0 30.6-65.5c9.3-41.1.7-83.7-24.3-119.8m-20.2 39.1a8.7 8.7 0 0 1 12.1 1.9l2.3 3.2a8.7 8.7 0 1 1-14 10.2l-2.3-3.2a8.7 8.7 0 0 1 1.9-12.1m-46.8-67.9 4 .1a8.7 8.7 0 0 1-.2 17.4h-.2l-4-.1a8.7 8.7 0 0 1 .4-17.4m-96.4-6.8.9-3.9a8.7 8.7 0 0 1 16.9 3.9l-.9 3.9a8.7 8.7 0 0 1-16.9-3.9m-4.6 93.9a8.7 8.7 0 0 1 6.1 10.7l-1.1 3.8a8.7 8.7 0 0 1-16.8-4.6l1.1-3.8a8.7 8.7 0 0 1 10.7-6.1m-68.6-42.5a8.7 8.7 0 0 1 11.9 3l2 3.4a8.7 8.7 0 0 1-14.9 8.9l-2-3.4a8.7 8.7 0 0 1 3-11.9m-30.6 49.4-1.1 3.8a8.7 8.7 0 0 1-16.8-4.6l1.1-3.8a8.7 8.7 0 1 1 16.8 4.6m-23.5-104.9a8.7 8.7 0 0 1 11.9 3l2 3.4a8.7 8.7 0 0 1-14.9 8.9l-2-3.4a8.7 8.7 0 0 1 3-11.9m-98.6 15.2 2-3.4a8.7 8.7 0 1 1 15 8.8l-2 3.4a8.7 8.7 0 1 1-15-8.8M26.2 222v-12.3a8.7 8.7 0 1 1 17.4 0V222a8.7 8.7 0 1 1-17.4 0m20.5 69.9A8.7 8.7 0 1 1 33 281.3l7.5-9.7a8.7 8.7 0 1 1 13.7 10.6zm29.8 78.4L69 380a8.7 8.7 0 0 1-13.7-10.6l7.5-9.7a8.7 8.7 0 1 1 13.7 10.6m10.6-68.7a99.9 99.9 0 0 1-16.7-45q-.5-4-.6-8c-1.2-30.5 12.2-51 23.6-62.9a92.3 92.3 0 0 1 66.2-28.1c19.4 0 37.8 6.2 53.5 18zm84.6-28.9a8.7 8.7 0 0 1-11.9-3l-2-3.4a8.7 8.7 0 1 1 14.9-8.8l2 3.4c2.4 4.1 1.1 9.4-3 11.9M121 321.4l-1.1 3.8a8.7 8.7 0 0 1-16.8-4.6l1.1-3.8a8.7 8.7 0 0 1 10.7-6.1 8.7 8.7 0 0 1 6.1 10.7m45.4 75.2a9 9 0 0 1-.8 0l-12.2-1.1a8.7 8.7 0 0 1-7.9-9.4c.4-4.8 4.6-8.2 9.4-7.9l12.2 1.1a8.7 8.7 0 0 1-.8 17.3m100.8-2.2a8.7 8.7 0 0 1-11.9-3l-2-3.4a8.7 8.7 0 1 1 14.9-8.8l2 3.4c2.4 4.1 1.1 9.4-3 11.9m109.3-5.5a8.7 8.7 0 0 1-11.9-3l-2-3.4a8.7 8.7 0 0 1 15-8.8l2 3.4a8.7 8.7 0 0 1-3.1 11.9m-63.7-31.5H199.8c-34.2 0-48.5-7.3-60.5-14.1L260.6 222l118.5 118.5c-15.1 8.5-33.3 17-66.4 17m66.6-65.1-3.4 2.1a8.7 8.7 0 0 1-9.3-14.7l3.4-2.1a8.7 8.7 0 0 1 9.3 14.7m56.5 63.2h-.2l-4-.1a8.7 8.7 0 0 1-8.5-8.9c.1-4.8 3.9-8.8 8.9-8.5l4 .1a8.7 8.7 0 0 1-.2 17.4M307.4 175.3c16.5-15.4 34.9-18.9 48-18.9 22.6 0 46.1 10.4 62.8 27.8a87.4 87.4 0 0 1 24.7 64.4q-.1 4.1-.6 8.2c-1.6 14-6.4 27.5-13.7 39.8zm170 104a8.7 8.7 0 0 1-12.1-1.9l-2.3-3.2a8.7 8.7 0 1 1 14-10.2l2.3 3.2a8.7 8.7 0 0 1-1.9 12.1");
}


/* --- PUBLISHABLE icon --- */

/* --- 16x16 --- */

.icon_link_external path {
	d:	path("m10.1 1.5a0.25 0.25 0 0 0-0.17 0.43l1.54 1.54-3.75 3.75a0.75 0.75 0 0 0 0.02 1.04 0.75 0.75 0 0 0 1.04 0.02l3.75-3.75 1.54 1.54a0.25 0.25 0 0 0 0.43-0.17v-4.15a0.25 0.25 0 0 0-0.25-0.25zm-6.85 1c-0.97 0-1.75 0.78-1.75 1.75v8.5a1.75 1.75 0 0 0 1.75 1.75h8.5a1.75 1.75 0 0 0 1.75-1.75v-3.5a0.75 0.75 0 0 0-1.5 0v3.5a0.25 0.25 0 0 1-0.25 0.25h-8.5c-0.14 0-0.25-0.11-0.25-0.25v-8.5a0.25 0.25 0 0 1 0.25-0.25h3.5a0.75 0.75 0 0 0 0-1.5z");
}



/* --- | --- */
