
/* --- ":is", ":not" and ":has" are awesome :D --- */


			/* --- INPUT RADIO (CHANGE LANGUAGES) --- */


#lang-acc-container:has(#lang_en:checked)	#p_acc_es,
#lang-acc-container:has(#lang_es:checked)	#p_acc_en {
 	display:			none;
}

.lang-input:checked + .lang-label {
	color:				var(--col-2);
	border-color:		transparent;
	background-color:	transparent;
	transform:			scale(120%);
}


			/* --- | --- */



			/* --- INPUT RADIO (CHANGE PROFESSIONS) --- */


/* --- h3 --- */

*:has(#epieo:checked) {
	--t_exp_h3:			var(--t_exp_h3_all);
}

*:has(#engin:checked) {
	--t_exp_h3:			var(--t_exp_h3_eng);
}

*:has(#progr:checked) {
	--t_exp_h3:			var(--t_exp_h3_prog);
}

*:has(#educa:checked) {
	--t_exp_h3:			var(--t_exp_h3_edu);
}

/* --- Industry is included in Other works --- */
*:has(#other:checked) {
	--t_exp_h3:			var(--t_exp_h3_ind);
}


/* --- In all cases --- */
#exp_h3_subt::after {
	content:			var(--t_exp_h3);
}


/* --- To hide elements from professions not checked. --- */

*:has(#engin:checked) :is(
		#b_deg :is(h2, h3),
		:is(#b_exp, #b_ski, #b_cer, #b_pub),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > :is(.cont, h3, h4),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > .cont > :is(details, p)
						  ):not(.eng, .all),
*:has(#progr:checked) :is(
		#b_deg :is(h2, h3),
		:is(#b_exp, #b_ski, #b_cer, #b_pub),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > :is(.cont, h3, h4),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > .cont > :is(details, p)
						  ):not(.prog, .all),
*:has(#educa:checked) :is(
		#b_deg :is(h2, h3),
		:is(#b_exp, #b_ski, #b_cer, #b_pub),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > :is(.cont, h3, h4),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > .cont > :is(details, p)
						  ):not(.edu, .all),
*:has(#other:checked) :is(
		#b_deg :is(h2, h3),
		:is(#b_exp, #b_ski, #b_cer, #b_pub),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > :is(.cont, h3, h4),
		:is(#b_exp, #b_ski, #b_cer, #b_pub) > .cont > :is(details, p)
						  ):not(.ind, .other, .all) {
 	display:			none;
}


/* --- Color PROFESSION labels while ratio checked --- */

.prof-input:checked + .prof-label {
	color:				var(--col-2);
	border-color:		transparent;
	background-color:	transparent;
	transform:			scale(200%);
}


			/* --- | --- */



			/* --- INPUT RADIO (CHANGE COLOR MODES) --- */

/*
 * Thanks to Nathaniel
 * https://endtimes.dev/html-and-css-only-multiple-color-scheme-picker/
 */


*:has(#light:checked) {
	--col-1:			var(--l1);
	--col-2:			var(--l2);
	--col-3:			var(--l3);
	--col-4:			var(--l4);
}

*:has(#beige:checked) {
	--col-1:			var(--b1);
	--col-2:			var(--b2);
	--col-3:			var(--b3);
	--col-4:			var(--b4);
}

*:has(#pink:checked) {
	--col-1:			var(--p1);
	--col-2:			var(--p2);
	--col-3:			var(--p3);
	--col-4:			var(--p4);
}

*:has(#sea:checked) {
	--col-1:			var(--s1);
	--col-2:			var(--s2);
	--col-3:			var(--s3);
	--col-4:			var(--s4);
}

*:has(#navy:checked) {
	--col-1:			var(--n1);
	--col-2:			var(--n2);
	--col-3:			var(--n3);
	--col-4:			var(--n4);
}

*:has(#dark:checked) {
	--col-1:			var(--d1);
	--col-2:			var(--d2);
	--col-3:			var(--d3);
	--col-4:			var(--d4);
}

*:has(#contr:checked) {
	--col-1:			var(--c1);
	--col-2:			var(--c2);
	--col-3:			var(--c3);
	--col-4:			var(--c4);

/* 	As c3=c4, I need to draw a border. */
	--bor-sha:			0.5rem	groove	var(--col-1);
}


/* --- SPECIAL MODES --- */

/* --- Initial mode: S - (sea) --- */

:root {
	--col-1:			var(--s1);
	--col-2:			var(--s2);
	--col-3:			var(--s3);
	--col-4:			var(--s4);
}


/* --- Light mode --- */

@media (prefers-color-scheme: light) {
	:root {
		--col-1:		var(--l1);
		--col-2:		var(--l2);
		--col-3:		var(--l3);
		--col-4:		var(--l4);
	}
}


/* --- Dark mode --- */

@media (prefers-color-scheme: dark) {
	:root {
		--col-1:		var(--n1);
		--col-2:		var(--n2);
		--col-3:		var(--n3);
		--col-4:		var(--n4);
	}
}


/* --- High contrast mode --- */

@media (prefers-contrast: more) {
	:root {
		--col-1:		var(--c1);
		--col-2:		var(--c2);
		--col-3:		var(--c3);
		--col-4:		var(--c4);
	}
}


/* --- Color COLOUR labels while ratio checked --- */

.colour-input:checked + .colour-label {
	border-color:		transparent !important;
	background-color:	transparent !important;
}


			/* --- | --- */



/*	Problems with lang icons 	*/

.lang-input:checked + .lang-label:hover,
.prof-input:checked + .prof-label:hover,
.colour-input:checked + .colour-label:hover {
	cursor:				default;
}


			/* --- | --- */


/*
 * 		I know, I know: This is a nightmare, and with JS it would be easier.
 * 		BUT I just don't want to use it. It's a matter of philosophy.
 */
