
:root {

/* --- SIZES --- */

/* Yes, I know, too many */

	--size_05:			clamp(0.1rem,	0.1rem + 2.0vw,	0.5rem);	/*	14 tim.	*/
	--size_10:			clamp(0.2rem,	0.2rem + 2.0vw,	1.0rem);	/*	14 tim.	*/
	--size_20:			clamp(1.0rem,	1.0rem + 2.0vw,	2.0rem);	/*	10 tim.	*/
	--size_30:			clamp(2.0rem,	2.0rem + 2.0vw,	3.0rem);	/*	01 tim.	*/
	--size_40:			clamp(3.0rem,	3.0rem + 2.0vw,	4.0rem);	/*	04 tim.	*/
	--size_50:			clamp(4.0rem,	4.0rem + 2.0vw,	5.0rem);	/*	02 tim.	*/

	--size_cont:		960px;


/* --- FONTS --- */

	--size_fp:			clamp(0.8rem,	0.8rem + 2.0vw,	1.0rem);	/*	02 tim.	*/
	--size_f4:			clamp(1.1rem,	1.1rem + 2.0vw,	1.3rem);	/*	01 tim.	*/
	--size_f3:			clamp(1.3rem,	1.3rem + 2.0vw,	1.5rem);	/*	01 tim.	*/
	--size_f2:			clamp(1.5rem,	1.5rem + 2.0vw,	2.0rem);	/*	01 tim.	*/
/*	--size_f1:			clamp(2.0rem,	2.0rem + 2.0vw,	3.0rem);*/	/*	00 tim.	*/
	--size_fn:			clamp(3.0rem,	3.0rem + 2.0vw,	5.0rem);	/*	01 tim.	*/


/* --- FONT FAMILIES --- */

	--font_san:			'Comfortaa',	sans-serif;


/* --- I'm lazy --- */

/* 	abc = "all" but color :)	 */
	--text_abc:			margin, padding, width, height, border-color, background-color;


}


/* --- | --- */


/* --- URL FONTS - SIL Open Font License (OFL) --- */

@font-face {
	font-family:		"Comfortaa";
	font-style:			normal;
	src:				url('../fonts/Comfortaa-VF_wght.woff2')
						format('woff2');
}


/* --- EVERYTHING --- */

/* 	yep, I'm gonna flex errrrything	 */

* {
	margin:				0;
	padding:			0;
	display:			flex;
	flex-direction:		column;
	flex-wrap:			wrap;
	justify-content:	space-between;
	align-content:		stretch;
	align-items:		stretch;
/* 	flex:				1; */
	flex-grow:			0;
	flex-shrink:		1;
	flex-basis:			auto;
	gap:				0;
	border:				1px		solid		transparent;
}

html {
	scroll-behavior:	smooth;
}

head {
	display:			none;
}

/* --- BODY --- */

body {
	margin:				0	auto;
	font-family:		var(--font_san);
	font-weight:		normal;
	line-height:		1.5;
	color:				var(--col-2);
	background-color:	var(--col-4);
}


/* --- INPUT RADIO BUTTONS --- */

input {
	display:			none;
}


/* --- TEXT --- */

/* --- TITLES --- */

#name {
	text-align:			center;
}

h1,
h2,
h3,
h4 {
	color:				var(--col-1);
}


/* --- H1 --- */

#name h1 {
	font-size:			var(--size_fn);
}


/* --- H2 --- */

h2 {
	font-size:			var(--size_f2);
}

#b_deg h2::first-letter {
	padding-right:		0.2rem;
	font-size:			120%;
	color:				var(--col-2);
}


/* --- H3 --- */

h3 {
	font-size:			var(--size_f3);
}

#b_deg h3 {
	padding-left:		var(--size_10);
	padding-bottom:		var(--size_10);
}

.block:not(#b_deg) h3 {
	text-align:			center;
}


/* --- H4 --- */

h4 {
	font-size:			var(--size_f4);
}

.block > h4 {
	padding-top:		var(--size_50);
	padding-bottom:		var(--size_20);
}

details h4 {
	padding-top:		var(--size_20);
	padding-bottom:		var(--size_10);
}

/* --- PARAGRAPHS --- */

p {
	font-size:			var(--size_fp);
	padding-top:		var(--size_05);
	padding-bottom:		var(--size_05);
	gap:				var(--size_05);
}

:is(#b_cer, #b_pub) .cont p:last-child {
	padding-bottom:		var(--size_10);
}

:is(header, footer, .inter) p {
	text-align:			center;
}

.p-cont p {
	flex:				auto;
}

.inter p {
	white-space:		preserve-breaks;
	align-content:		center;
}

.inter {
	padding:			var(--size_10);
	border-radius:		0.5rem;
	min-width:			12rem;
	background-color:	var(--col-3);
	flex-grow:			1;
	flex-basis:			0;
}

.acc,
#p_free {
	flex-direction:		row;
	justify-content:	center;
}

#free {
	font-weight:		bold;
	font-style:			italic;
	border:				none;
}

.pub p {
	margin:				var(--size_05) 0;
}


/* --- H3 --- */

.pub h5 {
	font-style:			italic;
}


/* --- LINKS --- */

a {
	text-decoration:	none;
}

/* 	TEXT (p or p>span) inside an a	 */
.a_text{
	position:			relative;
	height:				fit-content;
	width:				fit-content;
	font-weight:		bold;
	flex-shrink:		0;
}

/* 	That's a cool trick I found	 */
.a_text::before {
	content: "";
	border-bottom:		1px		solid		currentcolor;
	width:				100%;
	display:			inline-block;
	position:			absolute;
	top:				calc(1.5*var(--size_fp));
	left:				0;
}

#a_acc:hover .a_text::before,
.a_pub:hover .a_text::before,
.a_text:hover::before {
	width:				0%;
}

#a_acc,
.a_pub,
.a_text:link,
.a_text:visited {
	color:				currentcolor;
}

#a_acc:hover .a_text,
.a_pub:hover .a_text,
.a_text:hover,
.a_text:active {
	color:				var(--col-1);
}

.pub .a_text {
	margin:				var(--size_05);
}

/* --- CONTAINER, BLOCKS, SEPARATION LINES AND BORDERS --- */


/* --- CONTAINERS --- */

.container {
	margin:				var(--size_05)	var(--size_20);
	max-width:			var(--size_cont);
	border-radius:		0.5rem;
	flex-direction:		row;
}


#free-container {
	justify-content:	center;
}

#colour-container,
#prof-container {
	justify-content:	space-around;
	padding:			var(--size_10);
	border-color:		var(--col-3);
	background-color:	var(--col-3);
}

#main-container{
	margin:				initial;
	flex-direction:		inherit;
}

/* --- Desktop --- */

/* 	No, I can't use a var here	 */
@media (min-width: 961px) {
	#main-container {
		border-color:	var(--col-3);
		margin:			0	var(--size_20);
	}
}

.cont {
	flex-direction:		row;
	align-items:		center;
}

.cont_rev {
	flex-direction:		row-reverse;
	align-items:		center;
}

/* --- BLOCKS --- */

.block {
	margin:				var(--size_20);
	padding-bottom:		var(--size_30);
	border-bottom:		1px		solid		var(--col-3);
}

.block:last-child {
	border-bottom:		0px;
	padding-bottom:		0px;
}


:is(#b_exp, #b_ski, #b_pub, #b_int) > .cont {
	justify-content:	space-around;
	gap:				var(--size_20);
}


:is(#b_ski, #b_int) .cont {
	align-items:		initial;
}

#me,
#badges {
	margin:				var(--size_10)	0;
}

#buttons_me {
	gap:				var(--size_10);
}

.a_pub {
	gap:				0;
	margin-bottom:		var(--size_20);
}


/* --- BUTTONS --- */

svg {
	fill:				currentColor;
}

.button svg {
	width:				var(--size_20);
}

.button {
	padding:			var(--size_10);
	border:				1px		solid		transparent;
	border-radius:		var(--size_05);
}

.button,
.button:link,
.button:visited {
	color:				var(--col-1);
	background-color:	var(--col-4);
}

#a_acc:hover #b_eye,
.a_pub:hover .pub_button,
.button:hover,
.button:active {
	color:				var(--col-4);
	background-color:	var(--col-1);
	cursor:				pointer;
}

.me_button {
	border-color:		var(--col-3);
}

.pub_button {
	padding:			var(--size_05);
	color:				inherit;
	background-color:	inherit;
}

.acc_button,
.lang-label {
	border-radius:		50%;
	margin:				0;
}

#a_acc:hover #b_eye {
	margin-left:		var(--size_05);
}



/* --- LANG, PROFESSION and COLOR PICKERS (LABELS) --- */

label {
/* 	margin:				var(--size_05); */
}



/* --- COLOR PICKERS --- */

.colour-label {
/* 	padding:			var(--size_05); */
	border-radius:		50%;
/* 	height:				var(--size_10); */
/* 	width:				var(--size_10); */
	border-width:		var(--size_05);
	border-style:		outset;
}

/* --- COLOR PICKERS (only fixed colors elements) --- */

#light-label {
	border-color:		var(--l1);
	background-color:	var(--l3);
}

#beige-label {
	border-color:		var(--b1);
	background-color:	var(--b3);
}

#pink-label {
	border-color:		var(--p1);
	background-color:	var(--p3);
}

#sea-label {
	border-color:		var(--s1);
	background-color:	var(--s3);
}

#navy-label {
	border-color:		var(--n1);
	background-color:	var(--n3);
}

#dark-label {
	border-color:		var(--d1);
	background-color:	var(--d3);
}

#cont-label {
	border-color:		var(--c1);
	background-color:	var(--c3);
}


/* --- on hover --- */

label:hover {
	cursor:				pointer;
}

.prof-label:hover {
	border-radius:		50%;
	transform:			scale(150%);
}

.colour-label:hover {
	border-radius:		25%;
	transform:			rotate(90deg);
}


/* --- COLOR PICKERS on hover (only fixed colors elements) --- */

#light-label:hover {
	background-color:	var(--l4);
}

#beige-label:hover {
	background-color:	var(--b4);
}

#pink-label:hover {
	background-color:	var(--p4);
}

#sea-label:hover {
	background-color:	var(--s4);
}

#navy-label:hover {
	background-color:	var(--n4);
}

#dark-label:hover {
	background-color:	var(--d4);
}

#cont-label:hover {
	background-color:	var(--c4);
}


			/* --- DETAILS AND SUMMARY --- */

/* --- CLOSED --- */

details {
	border-radius:		0.5rem;
	flex-grow:			1;
}

#b_exp details {
	width:				calc(4*var(--size_40));
	max-width:			calc(9*var(--size_40));
}

#b_pub details {
	min-width:			calc(3*var(--size_40));
	max-width:			calc(4*var(--size_40));
}

#b_ski details {
	width:				calc(5*var(--size_40));
	max-width:			calc(11*var(--size_40));
}

summary :is(svg, img) {
	width:				var(--size_50);
	margin:				var(--size_05) auto;
}

summary img {
	width:				100%;
	margin:				0 auto;
	border-top-left-radius:		inherit;
	border-top-right-radius:	inherit;
	border-width:		0px;
}


details h3 {
	display:			block;
	color:				currentcolor;
}

summary {
	padding:			var(--size_10);
	cursor:				pointer;
	color:				var(--col-1);
	border-radius:		var(--size_10);
	border-color:		var(--col-3);
}

#b_pub summary {
	padding:			0;
}

#b_pub details h3 {
	padding:		var(--size_05);
}

#b_ski summary {
	background-color:	var(--col-3);
}

			/* --- DROPDOWNS --- */

details section {
	display:			none;
}

details p::after {
	white-space:		pre-wrap;
}


/* --- CLOSED and HOVER --- */

:is(#b_exp, #b_ski) summary:hover {
	color:				var(--col-3);
	background-color:	var(--col-1);
}

#b_ski summary:hover {
	border-radius:		var(--size_20);
}

:is(#b_pub) summary:hover {
	box-shadow:			0rem	0rem	0.5rem	0.1rem	var(--col-2),
						0rem	0rem	0.5rem	0.8rem	var(--col-3);
	transition-duration:					0.2s;
}


::marker {
	display:			none;
}


/* --- OPEN --- */

/* sweep DETAILS: OPACITY and TRANSFORM (translate X) */
details[open] {
	padding:			var(--size_20);
	background-color:	var(--col-3);
	border-color:		var(--col-1);
}

:is(#b_exp, #b_pub) details[open] {
	width:				100%;
	max-width:			100%;
}

details[open] summary :is(svg, img) {
	width:				var(--size_20);
	height:				fit-content;
}

details[open] summary img {
	border-width:		1px;
}

#b_pub details[open] h3 {
	padding:		0;
}

/* Doesn't work w/o the F :is */
:is(#b_exp, #b_ski, #b_pub) details[open] h3 {
	text-align:			left;
}

details[open] summary :is(h3, svg, img) {
	margin:				var(--size_05) 0;
}

details[open] section img {
	margin:				0;
}

/* --- Weird result in Falkon :/ --- */

details[open] h3::first-letter {
	font-size:			130%;
	line-height:		var(--size_10);
	padding-right:		0.1rem;
	color:				var(--col-2);
}

details[open] section {
	display:			block;

/* sweep SECTION: OPACITY and TRANSFORM (translate X) */
	animation:			sweep				1.5s	ease-in-out;
}

details[open] img {
	width:				100%;
}

details[open] summary {
	flex-direction:		row-reverse;
	padding:			0;
	padding-bottom:		var(--size_05);
	border-bottom-color:var(--col-1);
	border-radius:		0;
}

/* --- I don't know how to animate this when closing :( --- */

@keyframes sweep {
	0%    {
		opacity:		0;
		transform:		translateX(-10px);
		display:		none;
	}
	100%  {
		opacity:		1;
		transform:		translateX(0);
		display:		block;
	}
}


/* --- OPEN and HOVER --- */

#main-container details[open]:hover {
	border-color:		var(--col-2);
}

:is(#b_exp, #b_ski, #b_pub) details[open]:hover summary {
	color:				var(--col-2);
	background-color:	var(--col-3);
	border-bottom-color:var(--col-2);
	border-radius:		0;
}

:is(#b_pub) details[open]:hover summary {
	box-shadow:			none;
}


/* --- TOOLTIPS, including last one (JS) --- */

.tooltiptext {
	padding:			var(--size_05)
						var(--size_10);
	border-radius:		0.5rem;
	top:				120%;
	left:				10%;
	margin-left:		10%;
	visibility:			hidden;
	text-align:			center;
	position:			absolute;
	z-index:			1;
	color:				var(--col-3);
	border-color:		var(--col-3);
	background-color:	var(--col-2);
	box-shadow:			0.0rem 0.0rem 0.2rem 0.2rem var(--col-2),
						0.2rem 0.2rem 0.2rem 0.4rem var(--col-1);
}

/* just to see the tooltips */
:has(.tooltiptext) {
	position:relative;
}

:is(.inter, #p_free, summary):hover .tooltiptext {
	visibility:			visible;
	opacity:			0;
}

#js {
	top:				-8rem;
}

details[open] summary:hover .tooltiptext {
	display:			none;
}


/* --- TRANSITIONS :Problem ("solvable" with delay) with color & checked --- */

* {
	transition-duration:					0.5s;
	transition-timing-function:				ease-in-out;
}

/* 	I don't know what's wrong with "::before", but yeah, it's a bit special...	 */
.a_text::before {
/* 	yes, I need this >:(	 */
	transition-duration:					0.5s;
}

/* 	GREAT FFFF BUG. This is the only way of solving it, so far.	 */
/* Again, another bug here :(	 */
:not(:is(.lang-label, details[open]) :is(h3, svg, path)) {
/* 	transition-property:					all; */
}

:is(.lang-label, details[open]) :is(h3, svg, path) {
	transition-property:					var(--text_abc);
}


.tooltiptext {
	transition:			opacity				1.0s	ease-in;
}

.inter:hover .tooltiptext {
	transition-duration:					2.0s;
}

#p_free:hover .tooltiptext {
	transition-duration:					3.0s;
}


/* --- | --- */
