
:root {


/* --- COLORS --- */

	--bright:			#fff;
	--light:			#ddd;
	--med-light:		#aaa;
	--med-dark:			#444;
	--dark:				#262626;			/*	Canonical */
	--true-dark:		#000;

	--link-light:		#396;
	--link-dark:		#69c;				/*	Canonical */


/* --- Initial mode --- */

	--col-f:			var(--dark);					/*	Fonts		*/
	--col-d:			var(--med-light);				/*	Divisions	*/
	--col-b:			var(--bright);					/*	Background	*/
	--col-a:			var(--link-light);				/*	Links		*/


/* --- SIZES --- */


/* SPACE for some air - 7 times */
	--size-sa:			clamp(0.5rem,	0.5rem + 2.0vw,	1.0rem);

/* list FONT - 2 times */
	--size-lf:			clamp(1.2rem,	1.2rem + 2.0vw,	1.4rem);

/* MARGIN at the end of the page - 3 times */
	--size-me:			clamp(1.2rem,	1.2rem + 2.0vw,	2.0rem);

/* body FONT - 1 time */
	--size-bf:			clamp(1.4rem,	1.4rem + 2.0vw,	1.6rem);

/* name FONT & MARGIN - 2 times */
	--size-na:			clamp(3.0rem,	3.0rem + 2.0vw,	5.0rem);

/* SPACE at the end of every paragraph / list - 1 time */
	--size-se:			clamp(4.0rem,	4.0rem + 2.0vw,	8.0rem);

/* SPACE at the end of every section / cont - 1 time */
	--size-sc:			clamp(7.0rem,	7.0rem + 2.0vw,	14.0rem);



/* A bit of maths, bc I'm bored :P */

/* Ratio right / left in subcontainers or subsections */
	--r-rl:				2;

/* margins between subcontainers or subsections
 * (left to right and right to left) */
	--m-rl:				2%;

/* margin left in containers from section 2 to 5 */
	--m-lc:				5%;

/* container width (95%) */
	--c-w:				calc(100% - var(--m-lc));



/* --- SUBSECTIONS (from s1) WIDTH --- */

/* subsection left width and margin (33% = 100% / (1 + 2)) */
	--ssl-wm:			calc(100% / (1 + var(--r-rl)));

/* subsection right width and margin (67% = 2 * 33%) */
	--ssr-wm:			calc(var(--r-rl) * var(--ssl-wm));

/* subsection left width (31% = 33% - 2%) */
	--ssl-w:			calc(var(--ssl-wm) - var(--m-rl));

/* subsection right width (65% = 67% - 2%) */
	--ssr-w:			calc(var(--ssr-wm) - var(--m-rl));



/* --- SUBCONTAINERS (sections 2 to 5) WIDTH --- */

/*
 * (right subsection width from s1 = right subcontainer width form s2 to s5)
 * (--ssr-w = --scr-w)
 * (65% out of 95% = 68% out of 100%)
*/



/* subcontainer right width (68% = 65% / 0.95, bc "65% / 95%" is invalid) */
	--scr-w:			calc(var(--ssr-w) / 0.95);

/* subcontainer right width and margin (70% = 68% + 2%) */
	--scr-wm:			calc(var(--scr-w) + var(--m-rl));

/* subcontainer left width and margin (30% = 100 - 70%) */
	--scl-wm:			calc(100% - var(--scr-wm));

/* subcontainer right width (28% = 30% - 2%) */
	--scl-w:			calc(var(--scl-wm) - var(--m-rl));



/* --- FONT FAMILIES --- */

/* 	--font-san:				'Comfortaa',	sans-serif; */
	--font-ser:				'Petrona',		serif;


	/* --- | --- */

}



/* --- EVERYTHING --- */

* {
	margin:				0;
	padding:			0;
	font-weight:		normal;
}


/* --- BODY --- */

body {
	font-family:		var(--font-ser);
	font-size:			var(--size-bf);
	line-height:		1.5;
	color:				var(--col-f);
	background-color:	var(--col-b);
	border-color:		var(--col-d);
}


/* --- HEADER, MAIN AND FOOTER --- */

header,
main,
footer {
	margin:				var(--size-sa) 0;
}

.container {
	margin:				0 auto;
	width:				80%;
	max-width:			1200px;
}


/* --- HEADER AND FOOTER --- */

/* Texts at both sides in header and footer. */
#header-container,
#footer-container {
	display:			flex;
	justify-content:	space-between;
}

#header-container {
	margin-top:			var(--size-me);
}

#footer-container {
	margin-bottom:		var(--size-me);
}


/* --- SUB-CONTAINERS and SUB-SECTIONS --- */


/* 31 + 02 = 033 % */
.sec-left {
	width:				var(--ssl-w);	/* 31% */
	margin-right:		var(--m-rl);	/* 02% */
}

/* 65 + 02 = 067 % */
/* 33 + 67 = 100 % */
.sec-right {
	width:				var(--ssr-w);	/* 65% */
	margin-left:		var(--m-rl);	/* 02% */
}


/* 05 + 95 = 100 % */
.cont {
	margin-left:		var(--m-lc);	/* 05% */
	width:				var(--c-w);		/* 95% */
	display:			flex;
}


/* 28 + 02 = 030 % */
.cont-left {
	width:				var(--scl-w);	/* 28% */
	margin-right:		var(--m-rl);	/* 02% */
}

/* 68 + 02 = 070 % */
/* 30 + 70 = 100 % */
.cont-right{
	width:				var(--scr-w);	/* 68% */
	margin-left:		var(--m-rl);	/* 02% */
}


/* Big space at the end of every big element */
.sub-s,
.cont-right,
article {
	margin-bottom:		var(--size-se);
}

#s-deg {
	display:			flex;
	margin-top:			0;
/* Big space at the end of first (me) section */
	margin-bottom:		var(--size-sc);
}


section,
.cont,
article,
#footer-container {
	border-top-color:	var(--col-d) !important;
}


#header-container {
	flex-flow:			row		nowrap;
	gap:				1rem;
}

.subcont-header {
/* 	border:				1px solid lightsalmon; */
}

.icons-container {
	flex:				1 auto;
}

#col-container {
	text-align:			left;
}

#acc-container {
/* 	flex:				4; */
	text-align:			center;
}

#lang-container {
	order: 1;
	text-align:			right;
}


/* --- URL FONTS - SIL Open Font License (OFL) --- */

/*
@font-face {
	font-family:			"Comfortaa";
	font-optical-sizing:	auto;
	font-weight:			100;
	font-style:				normal;
	src:					url('../fonts/Comfortaa-VF_wght.woff2')
							format('woff2');
}*/

@font-face {
	font-family:			"Petrona";
/* 	font-optical-sizing:	auto; */
/* 	font-weight:			100; */
	font-style:				normal;
	src:					url('../fonts/Petrona-VF_wght.woff2')
							format('woff2');
}

@font-face {
	font-family:			"Petrona";
/* 	font-optical-sizing:	auto; */
/* 	font-weight:			100; */
	font-style:				italic;
	src:					url('../fonts/Petrona-Italic-VF_wght.woff2')
							format('woff2');
}


/* --- INPUT RADIO BUTTONS --- */

input {
	display:			none;
}

/* --- LABELS --- */

label {
	padding:			calc(0.5*var(--size-sa));
	display:			inline-block;
	transition:			all					0.5s	ease-in-out;
}

label:hover {
	transform:			scale(120%);
}

label svg {
	width:				var(--size-lf);
	vertical-align:		middle;
}


/* --- COLOR MODES --- */

/* --- Default: Light mode --- */

@media (prefers-color-scheme: light) {
	:root {
		--col-f:		var(--true-dark);
		--col-d:		var(--med-light);
		--col-b:		var(--bright);
		--col-a:		var(--link-light);
	}
}


/* --- Default: Dark mode --- */

@media (prefers-color-scheme: dark) {
	:root {
		--col-f:		var(--light);
		--col-d:		var(--med-dark);
		--col-b:		var(--dark);
		--col-a:		var(--link-dark);
	}
}


/* --- Checked: Light mode --- */

*:has(#col-li:checked) {
	--col-f:		var(--true-dark);
	--col-d:		var(--med-light);
	--col-b:		var(--bright);
	--col-a:		var(--link-light);
}


/* --- Checked: Dark mode --- */

*:has(#col-da:checked) {
	--col-f:		var(--light);
	--col-d:		var(--med-dark);
	--col-b:		var(--dark);
	--col-a:		var(--link-dark);
}


/* --- LANG MODES --- */

*:has(#lang-en:checked) :is([lang="es"]),
*:has(#lang-es:checked) :is([lang="en"]) {
 	display:			none;
}

input:checked + label {
	transform:			scale(150%);
}

input:not(:checked) + label {
	cursor:				pointer;
}



/* --- NOT IN WEB 2.0. (too informal) --- */

article span {
	display:			none;
}


/* --- TEXT --- */

#nameH1 {
	font-size:			var(--size-na);
}

#nameH1,
.cont-left h4,
h5,
#a-fun span {
	font-weight:		bold;
}

#s-deg h2::first-letter {
	font-weight:		bold;
	font-size:			120%;
	padding-right:		0.1rem;
}

#s-deg h3 {
	scale:				0.9;
}

/* They need some air and style */
article h5,
#s-deg h3 {
	margin-bottom:		var(--size-sa);
}

.free {
	font-style:			italic;
	font-weight:		bold;
}

/* I want them a bit smaller */
#header-container p,
#footer-container p {
	font-size:			var(--size-lf);
}

#acc-container p {
	text-align:			center;
}


/* --- LINKS --- */

a {
	text-decoration:	none;
	display:			inline-block;
	color:				var(--col-a);
}

a *:hover,
a:hover,
a:active {
	font-weight:		bold;
}

a, a * {
	transition:			all					0.3s	ease-in-out;
}

/* --- LISTS --- */

li {
	list-style:			inside;
	font-size:			var(--size-lf);
}



	/* --- BORDERS --- */

/* Elements with border */
section,
.cont,
article,
#footer-container {
	border-top:			1px	solid;
	padding-top:		var(--size-sa);
}

/* Elements without border */
article:first-child {
	border-top:			0px;
	padding-top:		0rem;
}

	/* --- | --- */


	/* --- MEDIA QUERIES FOR SMALL SCREENS --- */

@media screen and (max-width: 960px) {


		/* --- BORDERS --- */

	/* Add border */
	article:first-child {
		border-top:			1px	solid;
	}

	/* Delete border */
	.cont {
		border-top:			0px;
	}

	/* Change position border */
	section,
	article,
	article:first-child {
		padding-top:		var(--size-sa);
	}

		/* --- | --- */


	/* (Almost) Every element centered on mobile */
	#s-deg,
	.cont,
	#name{
		flex-flow:			column;
	}

/* I want the Contact link on the right side,
 * but above the last sentence when everything is centered.
 * Similarly with the flags.
 */

	#footer-container {
		flex-flow:			column-reverse;
	}

	#header-container {
		flex-flow:			row			wrap;
	}

	#col-container {
		text-align:			right;
	}

	#acc-container {
		flex:				100%;
	}
	/* Changed order of the three elements of the header */

	#lang-container {
		order:				0;
		text-align:			left;
	}



	/* Text centered, as well. */
	h1, h2, h3,
	.cont-left h4,
	.sub-s h4,
	#footer-container p {
		text-align:			center;
	}

	/* h4 Titles in Uppercase on mobile. */
	.cont-left h4 {
		text-transform:		uppercase;
	}

	/* Smaller margins */
	.container {
		width:				090%;
	}

	.cont {
		margin-left:		000%;
		width:				100%;
	}

	.subcont {
		width:				100%;
		margin-left:		000%;
		margin-right:		000%;
	}

	#s-deg .sec-left {
		margin:				var(--size-na)	0;
	}

	footer a,
	.cont-left h4 {
		margin-bottom:		var(--size-sa);
	}

}
