
*:has(#lang_en:checked) {

	/* --- BLOCK 1: DEGREES --- */

#b_deg h1::after		{content:	"P LL V";	}
#b_deg h2.eng::after	{content:	"Ingeniero de Caminos, Canales y Puertos";	}
#b_deg h3.eng::after	{content:	"(Eq. to MEng, Civil Engineering)";	}
#b_deg h2.edu::after	{content:	"Professional Master of Education";	}
#b_deg h3.edu::after	{content:	"(Secondary School Mathematics Teacher Training)";	}
#b_deg h2.prog::after	{content:	"Web (and Python) programmer";	}
#b_deg h3.prog::after	{content:	"";	}

	/* --- | --- */



	/* --- BLOCK 2: EXPERIENCE --- */

#exp_h3_0::after 		{content:	"PROFESSIONAL EXPERIENCE";	}

	--t_exp_h3_all:					"(on site + office + wfh + factory + classroom)";
	--t_exp_h3_eng:					"(on site + office + wfh)";
	--t_exp_h3_prog:				"(office + wfh)";
	--t_exp_h3_edu:					"(classroom)";
	--t_exp_h3_ind:					"(office + factory)";

#exp_a::after 			{content:	"Civil Engineering";			}
#exp_b::after 			{content:	"Web design and programming";	}
#exp_c::after 			{content:	"Industry";				}
#exp_d::after 			{content:	"Education";					}
#exp_e::after 			{content:	"Other roles";					}

	/* --- EXPERIENCE 17 ENGINEERING --- */

#exp_17 h3::after 		{content:	"Sanitation";	}
#exp_17 span::after 	{content:	"Discovering the secrets of the underground is reeeeaaaally cool.  :D";	}
#exp_17 h4::after 		{content:	"Valencia City Council";	}
#exp_17 p::after 		{content:	"• Supervision and control of corrective maintenance works in the Municipal Sewer System.\a"
									"• Supervision and analysis of appraised reports of improvements in the Municipal Sewer System; quality evaluation and technical and economic verification.\a"
									"• Water table analysis. Monitoring of the data, performing statistical calculations, and preparation of the 2023 annual report.\a"
									"• Hydrological study of pluviometry; analysis of data from municipal rain gauges.\a"
									"• Monitoring of clean water discharge to sewers; geographic determination and study of solutions.\a"
									"• Review of sanitation projects submitted by third parties to ensure compliance with regulations and technical review. Drafting of reports and administrative follow-up.\a"
									"• Technical-economic study for the execution of sewerage ditches; evaluation of materials and construction processes.";	}


	/* --- EXPERIENCE 16 ENGINEERING --- */

#exp_16 h3::after 		{content:	"Structures";	}
#exp_16 span::after 	{content:	"It wasn't my place to be...";	}
#exp_16 h4::after 		{content:	"L. Engineering (industrial eng.).";	}
#exp_16 p::after 		{content:	"• Structural calculations (CYPE).\a"
									"• Adaptation to fire protection and storage of chemical products legislation for industrial buildings.\a"
									"• Projects drafting.";	}


	/* --- EXPERIENCE 15 EDUCATION --- */

#exp_15 h3::after 		{content:	"Technology";	}
#exp_15 span::after 	{content:	"Funny.  :)";	}
#exp_15 h4::after 		{content:	"P.C.C. (Mahón) Institute of Secondary Education.";	}
#exp_15 p::after 		{content:	"• Technology teacher.\a"
									"• Autocad teacher.";	}


	/* --- EXPERIENCE 14 ENGINEERING --- */

#exp_14 h3::after 		{content:	"Traffic";	}
#exp_14 span::after 	{content:	"Interesting, despite the University. I love Python.";	}
#exp_14 h4::after 		{content:	"INTRAS (Research Institute on Traffic and Road Safety) - University of Valencia.";	}
#exp_14 p::after 		{content:
									"• Research Engineer of the C-Roads platform. C-ITS (Collaborative Intelligent Transport Systems) services in Europe.\a"
									"• Obtaining impact KPI\'s associated with the Roads Works Warning environment.\a"
									"• Development of algorithms for the calculation of KPI\'s.\a"
									"• Python coding of the algorithms.\a"
									"• Data visualization.\a"
									"• Technical report drafting.\a"
									"• Drafting of traffic regulations.\a"
									"• [Python, Pandas, Numpy, Geopy, Spyder]";	}


	/* --- EXPERIENCE 13 EDUCATION --- */

#exp_13 h3::after 		{content:	"Phy. & Che.";	}
#exp_13 span::after 	{content:	"Funny.  \:)";	}
#exp_13 h4::after 		{content:	"S.C. (Ibiza) Institute of Secondary Education.";	}
#exp_13 p::after 		{content:	"• Physics and Chemistry teacher.\a"
									"• Math teacher.";	}


	/* --- EXPERIENCE 12 WEB --- */

#exp_12 h3::after 		{content:	"Web Dev";	}
#exp_12 span::after 	{content:	"I learned a lot of PHP and GIT, and a bit of Python.  \:) ";	}
#exp_12 h4::after 		{content:	"GTI-IA. (Computer Technology Group - Artificial intelligence) - Polytechnic University of Valencia";	}
#exp_12 p::after 		{content:	"• Frontend adaptation of the old GTI-IA website to Bootstrap responsive template.\a"
									"• Creation of new responsive sections with Bootstrap.\a"
									"• Backend restructuring to a dynamic website, connecting to an existing MySQL database.\a"
									"• Migration code PHP 5 to PHP 7. Refactoring. Debug.\a"
									"• Open source fonts addition.\a"
									"• Images and icons edition.\a"
									"• [PHP, MySQL, AJAX, JavaScript, jQuery, Boostrap, HTML, CSS, GIMP, Git, GitLab, Sublime, LAMPP].";	}


	/* --- EXPERIENCE 11 FOOD --- */

#exp_11 h3::after 		{content:	"Stock";	}
#exp_11 span::after 	{content:	"It wasn't my place to be...";	}
#exp_11 h4::after 		{content:	"G. (Food industry)";	}
#exp_11 p::after 		{content:	"• Stock management through dynamic tables and ad hoc software.\a"
									"• Segmentation of incoming raw material according to product typology.\a"
									"• Distribution of segmented raw material to the corresponding location.\a"
									"• Analysis of internal logistics flows.\a"
									"• Inventories (2 daily).";	}


	/* --- EXPERIENCE 10 FOOD--- */

#exp_10 h3::after 		{content:	"Production";	}
#exp_10 span::after 	{content:	"Too much responsibility, too little reward.";	}
#exp_10 h4::after 		{content:	"I. (Food industry)";	}
#exp_10 p::after 		{content:	"• Oversee the production process, drawing up a production schedule. Draft a timescale for the job.\a"
									"• Monitor the production processes and adjust schedules as needed.\a"
									"• Ensure that the production is cost effective. Decide what resources are required.\a"
									"• Monitor product standards and implement quality control programmes.\a"
									"• Liaise among different departments. Work with managers to implement the company\'s policies and goals.\a"
									"• Ensure that health and safety guidelines are followed. Set the quality standards, according to HACCP and BRC food.\a"
									"• Supervise and motivate a team of workers. Review worker performance.\a"
									"• Management Stock database, production records, CMR and delivery notes.\a"
									"• Responsible for procurement of raw materials, packaging, and auxiliary material. Inventory realization.";	}


	/* --- EXPERIENCE 09 WEB --- */

#exp_09 h3::after 		{content:	"Prototyping";	}
#exp_09 span::after 	{content:	"Wonderful environment and people.";	}
#exp_09 h4::after 		{content:	"M. (Mobile application development)"	}
#exp_09 p::after 		{content:	"• Apps prototyping (design planning, structure, functionalities and UX).\a"
									"• Apps creation and publication in markets (iTunes, Google Play and Windows Phone).\a"
									"• Trainer in prototyping and apps creation.\a"
									"• Betatester.\a"
									"• Speaker.";	}


	/* --- EXPERIENCE 08 WEB --- */

#exp_08 h3::after 		{content:	"Web Dev";	}
#exp_08 span::after 	{content:	"I learned a lot of JS.";	}
#exp_08 h4::after 		{content:	"A. (Mobile application development)";	}
#exp_08 p::after 		{content:	"• Prototyping apps.\a"
									"• Apps creation and publication in markets (iTunes, Google Play and Windows Phone).\a"
									"• Web design and programming (JS)";	}


	/* --- EXPERIENCE 07 EDUCATION --- */

#exp_07 h3::after 		{content:	"Structures";	}
#exp_07 span::after 	{content:	"I needed the money while I was studying... again. Thanks, Mr. Timoshenko.";	}
#exp_07 h4::after 		{content:	"Freelance";	}
#exp_07 p::after 		{content:	"Private tuition of Civil Engineering subjects such as of Structural Analysis, etc";	}


	/* --- EXPERIENCE 06 ENGINEERING --- */

#exp_06 h3::after 		{content:	"Mobility";	}
#exp_06 span::after 	{content:	"Chasing buses.  \:)";	}
#exp_06 h4::after 		{content:	"Valencian Regional Administration transport network";	}
#exp_06 p::after 		{content:	"• Elaboration of the interurban bus stops catalogue.\a"
									"• On-site analysis of the technical characteristics of each bus stop.\a"
									"• Management of information obtained through GIS";	}


	/* --- EXPERIENCE 05 ENGINEERING --- */

#exp_05 h3::after 		{content:	"Earthworks";	}
#exp_05 span::after 	{content:	"Lovely people, but the job wasn't worth the distance.";	}
#exp_05 h4::after 		{content:	"Claro (multinational telephone company) in Uruguay";	}
#exp_05 p::after 		{content:
									"• Construction management (earthworks) for a multinational company in the extension of its fibre optical lines.\a"
									"• Design of the laying plan of the optical fiber cable";	}


	/* --- EXPERIENCE 04 ENGINEERING --- */

#exp_04 h3::after 		{content:	"Environment";	}
#exp_04 span::after 	{content:	"Too little reward.";	}
#exp_04 h4::after 		{content:	"Freelance";	}
#exp_04 p::after 		{content:	"Drafting of environmental impact studies for different companies";	}


	/* --- EXPERIENCE 03 ENGINEERING --- */

#exp_03 h3::after 		{content:	"Rehabilitations";	}
#exp_03 span::after 	{content:	"Historical archives research.";	}
#exp_03 h4::after 		{content:	"P.G. Engineering Consulting.";	}
#exp_03 p::after 		{content:
									"• Rehabilitation design for the former stations and level-crossing stalls along the Sierra Menera old mining railway, now known as the Ojos Negros Greenway.\a"
									"• Responsible for cost estimation and drawings.\a"
									"• Facilitate communication between the company and client (Valencian Regional Administration), and provide assistance to other engineers as needed.";	}


	/* --- EXPERIENCE 02 WEB --- */

#exp_02 h3::after 		{content:	"Web Dev";	}
#exp_02 span::after 	{content:	"My first big web.  \:D";	}
#exp_02 h4::after 		{content:	"Student Union of the Polytechnic University of Valencia (UPV) Civil Engineering School";	}
#exp_02 p::after 		{content:
									"• Creation and administration of the first website of the Student Union of the Polytechnic University of Valencia (UPV) Civil Engineering School.\a"
									"• Translation (from Spanish to English and Valencian)";	}


	/* --- EXPERIENCE 01 OTHER --- */

#exp_01 h3::after 		{content:	"HR";	}
#exp_01 span::after 	{content:	"It was a bad idea to look for a job in my own school.";	}
#exp_01 h4::after 		{content:	"Department of Company Internships programme. School of Civil Engineering (UPV)";	}
#exp_01 p::after 		{content:	"• Interview applicants about their experience, education and ski\a"
									"• Promotion of offers and candidates.\a"
									"• Students and companies database management.";	}


	/* --- EXPERIENCE 00 ENGINEERING --- */

#exp_00 h3::after 		{content:	"InfoArchitect";	}
#exp_00 span::after 	{content:	"I really miss making maps for video games.";	}
#exp_00 h4::after 		{content:	"Valencian Regional Administration";	}
#exp_00 p::after 		{content:
									"• Infographic created with GtkRadiant, the scenario editor for multiple video games, including Quake III Arena.\a"
									"• The main objective was to prototype 3D models of the planned \'Nueva estación de Empalme\' transportation hub located in Valencia.\a"
									"• The transportation hub will accommodate the L4 tram, L1 metro, and L130a and 130b Metrobús routes.\a"
									"• This work was performed to support modifications to the original project design.";	}

	/* --- | --- */



	/* --- BLOCK 5: PUBLISHABLE --- */

#b_pub > h3::after 	{content:	"PUBLISHABLE WORKS";}


	/* --- PUBLISHABLE WORKS --- */

#pub_08 span::after 	{content:	"Really cool project";}
#pub_08 h3::after 		{content:	"Traffic";}
#pub_08 h4::after 		{content:
									"This study examines the implementation of C-ITS services in Spain as part of the C-Roads European project.";}
#pub_08 p::after 		{content:
									"The objective of this project was to analyse the behaviour of drivers when encountering an obstacle on the road, with the aim of obtaining impact KPIs associated with the Roads Works Warning environment.\a"
									"\a"
									"The primary responsibilities entailed the formulation of algorithms for the computation of KPIs, the implementation of these algorithms in Python, the creation of data visualizations, and the drafting of technical reports. The code and the results are accessible for review. It is pertinent to note that the original data files are not included, as they do not belong to me and I did not create them.";}

#pub_07 span::after 	{content:	"More research";}
#pub_07 h3::after 		{content:	"HOV lanes";}
#pub_07 h4::after 		{content:
									"A case study of the application of C-ITS in HOV-bus lanes.";}
#pub_07 p::after 		{content:
									"The objective of this study was to analyse the utilisation of HOV (High Occupancy Vehicle) lanes and the potential applications of C-ITS (Cooperative Intelligent Transport Systems) within these lanes.";}

#pub_06 span::after 	{content:	"A nice web and an unnecessarily complex database";}
#pub_06 h3::after 		{content:	"PHP web";}
#pub_06 h4::after 		{content:
									"A website for the GTI-IA (Computer Technology Group - Artificial Intelligence) at the UPV (Polytechnic University of Valencia).";}
#pub_06 p::after 		{content:
									"I updated the GTI-IA website front end to a Bootstrap responsive template and created new responsive sections with Bootstrap. I also restructured the backend to a dynamic website, connecting to an existing MySQL database.\a"
									"\a"
									"I was responsible for migrating the code from PHP 5 to PHP 7, refactoring and debugging.";}

#pub_05 span::after 	{content:	"Nice presentation";}
#pub_05 h3::after 		{content:	"Lecture";}
#pub_05 h4::after 		{content:
									"Lecturer for the Valencian Mathematical Society at the University of Alicante.";}
#pub_05 p::after 		{content:
									"Upon completion of my master's degree, I was invited by the Valencian Mathematical Society to present the conclusions of my thesis at the University of Alicante.\a"
									"\a"
									"I prepared a presentation that provided a summary of the key points of the thesis. For further details, please consult the thesis itself.";}

#pub_04 span::after 	{content:	"Thesis on educational research";}
#pub_04 h3::after 		{content:	"Thesis";}
#pub_04 h4::after 		{content:
									"Detection and promotion of giftedness in mathematics by solving rich problems. Particular case analysis: Asperger.";}
#pub_04 p::after 		{content:
									"I hold a Master of Science in Secondary Education Teaching from the University of Valencia, with a specialisation in Mathematics. My Master's Thesis had a specific focus on the identification of giftedness.\a"
									"\a"
									"The aim of this paper is to enlighten educators about the advantages of a thoughtfully selected collection of challenging mathematical exercises, aligned with the syllabus, to recognise and enhance mathematical skills. This approach eliminates the need for psychological aptitude examinations. A comparative analysis was conducted to assess the results of a challenging problem-based assessment and the academic performance of pupils in their standard lessons. The research was carried out with a group of 89 students from secondary schools. The outcomes suggest that the addition of intricate tasks has the potential to enhance course assessments and unveil outstanding abilities.";}

#pub_03 span::after 	{content:	"My first professional web";}
#pub_03 h3::after 		{content:	"JS web";}
#pub_03 h4::after 		{content:
									"Web form programmed in JavaScript.";}
#pub_03 p::after 		{content:
									"I was tasked with designing an app and incorporating a web section with an order form. Previously, the company received orders via email, phone, or fax. The objective was to standardize the format of all orders.\a"
									"\a"
									"I developed the form using JavaScript and a small amount of PHP.";}

#pub_02 span::after 	{content:	"My first professional (paid) project";}
#pub_02 h3::after 		{content:	"Rehabilit.";}
#pub_02 h4::after 		{content:
									"Rehabilitation design for stations and level-crossing stalls .";}
#pub_02 p::after 		{content:
									"I was assigned the responsibility of preparing the budget and architectural plans for the rehabilitation of the stations and level crossing boxes along the Sierra Menera old mining railway, now known as the Ojos Negros Greenway.\a"
									"\a"
									"The purpose of these stations was to provide overnight accommodation for individuals utilising the Greenway for travel purposes.";}

#pub_01 span::after 	{content:	"Final Year Project: WWTP";}
#pub_01 h3::after 		{content:	"Thesis";}
#pub_01 h4::after 		{content:
									"WWTP (Wastewater Treatment Plant) with Prolonged Aeration in rural environment.";}
#pub_01 p::after 		{content:
									"The Prolonged Aeration technique employs an active sludge system that allows the biomass to undergo endogenous respiration. This results in lower mass loads arising from the high sludge age, which in turn leads to a lower concentration of non-assimilated substrate.\a"
									"\a"
									"Extending the oxidation process has a significant advantage in reducing sludge production, as the extended retention time within the biological reactor permits the removal of the primary clarifier. Furthermore, the ease of construction, lower operating expenses, and lack of need for highly specialised staff make them a favourable option among the types of activated sludge.";}

#pub_00 span::after 	{content:	"Coooooool";}
#pub_00 h3::after 		{content:	"Quake III";}
#pub_00 h4::after 		{content:
									"Metro Station 3D model.";}
#pub_00 p::after 		{content:
									"The infographic was created with GtkRadiant, a scenario editor that has been employed in numerous video games, including Quake III Arena.\a"
									"\a"
									"The primary objective was to prototype 3D models of the planned 'Nueva estación de Empalme' transportation hub, located in Valencia. The transportation hub will serve as a terminus for the L4 tram, L1 metro, and the Metrobús routes L130a and 130b. This work was undertaken in order to provide support for modifications to the original project design.";}


.pub h5::after 			{content:	"Files in my repo";}

/* --- | --- */



	/* --- BLOCK 3: SKILLS --- */

#b_ski h3::after 		{content:	"SKILLS";	}


	/* --- LANGUAGES --- */

#ski_h4_l::after 	{content:	"Languages";	}


	/* --- LANGUAGE 03 GERMAN --- */

#lan_03 h3::after 		{content:	"German";	}
#lan_03 span::after 	{content:	":/";	}
#lan_03 h4::after 		{content:	"Elementary";	}
#lan_03 p::after 		{content:	"• CEFRL A1 level.\a"
									"• Just one year. ";	}


	/* --- LANGUAGES 02 FRENCH --- */

#lan_02 h3::after 		{content:	"French";	}
#lan_02 span::after 	{content:	":/";	}
#lan_02 h4::after 		{content:	"Elementary";	}
#lan_02 p::after 		{content:	"• CEFRL A1 level.\a"
									"• Just one year. ";	}


	/* --- LANGUAGES 01 VALENCIAN --- */

#lan_01 h3::after 		{content:	"Valencian";	}
#lan_01 span::after 	{content:	":)";	}
#lan_01 h4::after 		{content:	"Bilingual (I'm a spaniard)";	}
#lan_01 p::after 		{content:	"• CEFRL C1 level.\a"
									"• Valencian / Catalan. ";	}


	/* --- LANGUAGES 00 ENGLISH --- */

#lan_00 h3::after 		{content:	"English";	}
#lan_00 span::after 	{content:	":)";	}
#lan_00 h4::after 		{content:	"Advanced";	}
#lan_00 p::after 		{content:	"• CEFRL C1 level.";	}

	/* --- | --- */


	/* --- SOFTWARE --- */

#ski_h4_s::after 	{content:	"Software";		}


	/* --- SOFTWARE 03 EDU --- */

#sof_03 h3::after 		{content:	"Educational";	}
#sof_03 span::after 	{content:	":/";	}
#sof_03 h4::after 		{content:	"Educational";	}
#sof_03 p::after 		{content:	"• Geogebra (Dynamic geometry for the teaching of mathematics). ";	}


	/* --- SOFTWARE 02 DESIGN --- */

#sof_02 h3::after 		{content:	"Design";	}
#sof_02 span::after 	{content:	":')";	}
#sof_02 h4::after 		{content:	"Old Prof. & Pers. Projects";	}
#sof_02 p::after 		{content:	"• GIMP.\a"
									"• Dreamweaver.\a"
									"• PhoneGap.\a"
									"• Mobincube.\a"
									"• GtkRadiant (similar to 3D Studio).";	}


	/* --- SOFTWARE 01 PROGRAMMING --- */

#sof_01 h3::after 		{content:	"Programming";	}
#sof_01 span::after 	{content:	"btw :D";	}
#sof_01 h4::after 		{content:	"Prof. & Personal Projects";	}
#sof_01 p::after 		{content:	"• Python (Pandas, NumPy, Geopy).\a"
									"• HTML5, CSS3.\a"
									"• JavaScript, jQuery.\a"
									"• PHP, MySQL.\a"
									"• Git (Codeberg, GitLab).\a"
									"• Fortran. ";	}


	/* --- SOFTWARE 00 ENGINEERING --- */

#sof_00 h3::after 		{content:	"Engineering";	}
#sof_00 span::after 	{content:	"Trust me ;P";	}
#sof_00 h4::after 		{content:	"Professional";	}
#sof_00 p::after 		{content:	"• Autocad.\a"
									"• Revit Architecture (BIM).\a"
									"• CYPE.\a"
									"• Presto.\a"
									"• Premeti.\a"
									"• Clip (Tool S.A.).";	}

	/* --- | --- */



	/* --- BLOCK 4: CERTIFICATES --- */

#b_cer h3::after 		{content:	"COURSES AND CERTIFICATES";	}


	/* --- CERTIFICATES 00 ENGINEERING --- */

#cer_h4_eng::after 	{content:	"Civil Engineering";	}

#cer_e::after 			{content:
									"Coordinator on safety and health in construction works (+500h).";		}


	/* --- CERTIFICATES 00 PROGRAMMING --- */

#cer_h4_prog::after 	{content:	"Programming";	}

#cer_p::after 			{content:
									"Computer applications programmer. (Web and mobile applications design and programming) (+1.000 h).";		}

	/* --- | --- */



	/* --- BLOCK 6: INTERESTS --- */

#b_int h3::after 		{content:	"ADDITIONAL INFORMATION";	}
#int_h4::after 			{content:	"Interests";	}


	/* --- EXTRA INTERESTS --- */

#int_02 h3::after 		{content:	"Home";				}
#int_02 span::after 	{content:	"To evade the constraints of reality";	}
#int_02 p::before 		{content:	"19th century literature\a"
									"Classic cinema (before 1970)";	}


#int_01 h3::after 		{content:	"Outside";				}
#int_01 span::after 	{content:	"To understand the world";	}
#int_01 p::before 		{content:	"Hiking\a"
									"Cultural heritage";	}


#int_00 h3::after 		{content:	"Gadgets";				}
#int_00 span::after 	{content:	"No GAFAM";	}
#int_00 p::before 		{content:	"Privacy";	}
#int_00 a::after 		{content:	"LC: 133395";	}

	/* --- | --- */



	/* --- FOOTER --- */

#p_free::before			{content:	"This site is";				}
#free::after			{content:	"free";							}
#p_free::after			{content:	"of cookies and javascript.";	}
#js::after				{content:	"JS runs on the client, so I consider it invasive.";	}

	/* --- | --- */

}
