
*:has(#lang_es:checked) {

	/* --- BLOCK 1: DEGREES --- */

#b_deg h1::after 		{content:	"P LL V";	}
#b_deg h2.eng::after 	{content:	"Ingeniero de Caminos, Canales y Puertos";	}
#b_deg h3.eng::after 	{content:	"(Eq. a Grado Ing. Civ. + Máster Ing. Cam.)";	}
#b_deg h2.edu::after 	{content:	"Máster Universitario en Profesor/a de Educación Secundaria";	}
#b_deg h3.edu::after 	{content:	"(Especialidad: Matemáticas)";	}
#b_deg h2.prog::after	{content:	"Programador web";	}
#b_deg h3.prog::after	{content:	"(Certificado Profesional Nivel 3)";	}

	/* --- | --- */



	/* --- BLOCK 2: EXPERIENCE --- */

#exp_h3_0::after 		{content:	"EXPERIENCIA PROFESIONAL";	}

	--t_exp_h3_all:					"(obra + oficina + tdc + fábrica + clase)";
	--t_exp_h3_eng:					"(obra + oficina + tdc)";
	--t_exp_h3_prog:				"(oficina + tdc)";
	--t_exp_h3_edu:					"(clase)";
	--t_exp_h3_ind:					"(oficina + fábrica)";

#exp_a::after 			{content:	"Ingeniería Civil";	}
#exp_b::after 			{content:	"Diseño y Programación Web";	}
#exp_c::after 			{content:	"Industria Alimentaria";	}
#exp_d::after 			{content:	"Educación";	}
#exp_e::after 			{content:	"Otros trabajos";	}

	/* --- EXPERIENCE 17 ENGINEERING --- */

#exp_17 h3::after 		{content:	"Saneamiento";	}
#exp_17 span::after 	{content:	"Descubrir los secretos del subsuelo es suuuuuuper guay.  :D";	}
#exp_17 h4::after 		{content:	"Ayuntamiento de Valencia";	}
#exp_17 p::after 		{content:	"• Supervisión y control de obras de conservación correctiva en el Sistema Municipal de Alcantarillado.\a"
					"• Supervisión y análisis de las memorias valoradas de mejoras en el alcantarillado municipal; evaluación de la calidad y comprobación técnica y económica.\a"
					"• Análisis del nivel freático. Seguimiento de los datos, realización de cálculos estadísticos y preparación del informe anual 2023.\a"
					"• Estudio hidrológico de pluviometría; análisis de datos de los pluviómetros municipales.\a"
					"• Seguimiento del vertido de aguas limpias a colectores; determinación geográfica y estudio de soluciones.\a"
					"• Revisión de proyectos de saneamiento presentados por terceros para comprobar su ajuste a normativa y revisión técnica. Redacción de informes y seguimiento administrativo.\a"
					"• Estudio técnico-económico para la ejecución de zanjas de alcantarillado; valoración de materiales y procesos constructivos.";	}


	/* --- EXPERIENCE 16 ENGINEERING --- */

#exp_16 h3::after 		{content:	"Estructuras";	}
#exp_16 span::after 	{content:	"No era mi sitio...";	}
#exp_16 h4::after 		{content:	"L. Engineering (Ing. industrial).";	}
#exp_16 p::after 		{content:	"• Cálculo de estructuras (CYPE).\a"
					"• Adaptación a la legislación de protección contra incendios y almacenamiento de productos químicos para edificios industriales.\a"
					"• Redacción de proyectos.";	}


	/* --- EXPERIENCE 15 EDUCATION --- */

#exp_15 h3::after 		{content:	"Tecnología";	}
#exp_15 span::after 	{content:	"Divertido.  :)";	}
#exp_15 h4::after 		{content:	"IES P.C.C., Mahón.";	}
#exp_15 p::after 		{content:	"• Profesor de Tecnología.\a"
					"• Profesor de Autocad.";	}


	/* --- EXPERIENCE 14 ENGINEERING --- */

#exp_14 h3::after 		{content:	"Tránsito";	}
#exp_14 span::after 	{content:	"Interesante, a pesar de la Universidad. Me encanta Python.";	}
#exp_14 h4::after 		{content:	"INTRAS (Instituto de Investigación del Tránsito y la Seguridad Vial) - UV.";	}
#exp_14 p::after 		{content:	"• Ingeniero investigador de la plataforma C-Roads. Servicios C-ITS (Collaborative Intelligent Transport Systems) en Europa.\a"
					"• Obtención de KPI\'s de impacto asociados al entorno Roads Works Warning.\a"
					"• Desarrollo de algoritmos para el cálculo de KPI\'s.\a"
					"• Codificación en Python de los algoritmos.\a"
					"• Visualización de datos.\a"
					"• Redacción de informes técnicos.\a"
					"• Redacción de normativa de tráfico.\a"
					"• [Python, Pandas, Numpy, Geopy, Spyder]";	}


	/* --- EXPERIENCE 13 EDUCATION --- */

#exp_13 h3::after 		{content:	"Fís. & Quí.";	}
#exp_13 span::after 	{content:	"Divertido.  \:)";	}
#exp_13 h4::after 		{content:	"IES S.C., Ibiza.";	}
#exp_13 p::after 		{content:	"• Matemáticas (ESO).\a"
					"• Física y Química (ESO).\a"
					"• Química (Bach.).";	}


	/* --- EXPERIENCE 12 WEB --- */

#exp_12 h3::after 		{content:	"Web Dev";	}
#exp_12 span::after 	{content:	"Aprendí mucho de PHP y GIT, y un poco de Python.  \:) ";	}
#exp_12 h4::after 		{content:	"GTI-IA. Grupo Tecnología Informática Inteligencia Artificial - UPV.";	}
#exp_12 p::after 		{content:	"• Adaptación antigua web GTI-IA a plantilla Bootstrap responsive.\a"
					"• Creación de nuevas secciones responsive con Bootstrap.\a"
					"• Reestructuración del backend y adaptación a web dinámica conectando con base de datos MySQL existente.\a"
					"• Migración código PHP 5 a PHP 7. Refactorización. Debug.\a"
					"• Adición de tipografías open source.\a"
					"• Edición imágenes e iconos.\a"
					"• [PHP, MySQL, AJAX, JavaScript, jQuery, Boostrap, HTML, CSS, GIMP, Git, GitLab, Sublime, LAMPP].";	}


	/* --- EXPERIENCE 11 FOOD --- */

#exp_11 h3::after 		{content:	"Almacenaje";	}
#exp_11 span::after 	{content:	"No era mi sitio...";	}
#exp_11 h4::after 		{content:	"G. (Industria alimentaria)";	}
#exp_11 p::after 		{content:	"• Gestión de stock mediante tablas dinámicas y software ad hoc.\a"
					"• Segmentación de materia prima entrante según tipología de producto.\a"
					"• Distribución de materia prima segmentada hacia área de ubicación correspondiente.\a"
					"• Análisis de flujos de logística interna.\a"
					"• Inventarios (2 diarios).";	}


	/* --- EXPERIENCE 10 FOOD--- */

#exp_10 h3::after 		{content:	"Producción";	}
#exp_10 span::after 	{content:	"Demasiada responsabilidad, poca recompensa.";	}
#exp_10 h4::after 		{content:	"I. (Industria alimentaria)";	}
#exp_10 p::after 		{content:	"• Supervisar el proceso de producción, elaborando un calendario de producción. Diseñar un programa de trabajo.\a"
					"• Monitorizar los procesos de producción y ajustar los calendarios según sea necesario.\a"
					"• Garantizar la rentabilidad de la producción. Decidir qué recursos se requieren.\a"
					"• Controlar las normas del producto y aplicar programas de control de calidad.\a"
					"• Servir de enlace entre los distintos departamentos. Trabajar con los directivos para aplicar las políticas y objetivos de la empresa.\a"
					"• Garantizar el cumplimiento de las directrices de salud y seguridad. Establecer las normas de calidad, de acuerdo con APPCC y BRC food.\a"
					"• Supervisar y motivar al equipo de trabajadores. Revisar el rendimiento de los trabajadores.\a"
					"• Gestión de la base de datos del stock, registros de producción, CMR y albaranes.\a"
					"• Responsable de la adquisición de materias primas, envases y material auxiliar. Realización de inventarios.";	}


	/* --- EXPERIENCE 09 WEB --- */

#exp_09 h3::after 		{content:	"Prototipado";	}
#exp_09 span::after 	{content:	"Entorno y gente maravillosos.";	}
#exp_09 h4::after 		{content:	"M. (Desarrollo de Apps)";	}
#exp_09 p::after 		{content:	"• Prototipado de apps (planificación del diseño, estructura, funcionalidades y UX).\a"
					"• Creación y publicación de apps en markets (iTunes, Google Play y Windows Phone).\a"
					"• Formador en prototipado y creación de apps.\a"
					"• Betatester.\a"
					"• Conferenciante y divulgador.";	}


	/* --- EXPERIENCE 08 WEB --- */

#exp_08 h3::after 		{content:	"Web Dev";	}
#exp_08 span::after 	{content:	"Aprendí mucho de JS.";	}
#exp_08 h4::after 		{content:	"A. (Desarrollo de Apps)";	}
#exp_08 p::after 		{content:	"• Prototipado de apps.\a"
					"• Creación de apps y publicación en markets (iTunes, Google Play y Windows Phone).\a"
					"• Diseño y programación web (JS)";	}


	/* --- EXPERIENCE 07 EDUCATION --- */

#exp_07 h3::after 		{content:	"Estructuras";	}
#exp_07 span::after 	{content:	"Necesitaba el dinero mientras estudiaba... otra vez. Gracias, Sr. Timoshenko.";	}
#exp_07 h4::after 		{content:	"Freelance";	}
#exp_07 p::after 		{content:	"Clases particulares de asignaturas de Ingeniería de Caminos como Cálculo de Estructuras, etc";	}


	/* --- EXPERIENCE 06 ENGINEERING --- */

#exp_06 h3::after 		{content:	"Movilidad";	}
#exp_06 span::after 	{content:	"Persiguiendo autobuses.  \:)";	}
#exp_06 h4::after 		{content:	"Consellería de infraestructuras";	}
#exp_06 p::after 		{content:	"• Confección del catálogo de paradas de autobús interurbano de la red de transporte de la Generalitat Valenciana.\a"
					"• Análisis in situ de las características técnicas de cada punto de parada.\a"
					"• Gestión de la información obtenida mediante SIG.";	}


	/* --- EXPERIENCE 05 ENGINEERING --- */

#exp_05 h3::after 		{content:	"Movto. tierras";	}
#exp_05 span::after 	{content:	"Gente encantadora, pero el trabajo no merecía la distancia.";	}
#exp_05 h4::after 		{content:	"Claro (Compañía telefónica multinational) en Uruguay";	}
#exp_05 p::after 		{content:	"• Dirección de obra (movto. tierras) para empresa multinacional en la ampliación de sus líneas de fibra óptica.\a"
					"• Diseño del plan de tendido del cable de fibra óptica.";	}


	/* --- EXPERIENCE 04 ENGINEERING --- */

#exp_04 h3::after 		{content:	"MedioAmbiente";	}
#exp_04 span::after 	{content:	"Muy poca recompensa.";	}
#exp_04 h4::after 		{content:	"Freelance";	}
#exp_04 p::after 		{content:	"Redacción de estudios de impacto ambiental para diversas empresas.";	}


	/* --- EXPERIENCE 03 ENGINEERING --- */

#exp_03 h3::after 		{content:	"Rehabilitaciones";	}
#exp_03 span::after 	{content:	"Investigación de archivos históricos.";	}
#exp_03 h4::after 		{content:	"P.G. (Consultora).";	}
#exp_03 p::after 		{content:	"• Diseño de la rehabilitación de las estaciones y las casillas de paso a nivel del antiguo ferrocarril minero de Sierra Menera, actual Vía Verde de Ojos Negros.\a"
					"• Confección del presupuesto y de los planos.\a"
					"• Responsable de facilitar la comunicación entre la empresa y el cliente (Administración Autonómica Valenciana), y proporcionar asistencia a otros ingenieros cuando fuera necesario.";	}


	/* --- EXPERIENCE 02 WEB --- */

#exp_02 h3::after 		{content:	"Web Dev";	}
#exp_02 span::after 	{content:	"Mi primera gran web.  \:D";	}
#exp_02 h4::after 		{content:	"Delegación de Alumnos de la Escuela de Caminos - UPV";	}
#exp_02 p::after 		{content:	"• Creación y administración de la primera página web de la Delegación de Alumnos de la Escuela Técnica Superior de Ingenieros de Caminos, Canales y Puertos de la Universidad Politécnica de Valencia (UPV).\a"
					"• Traducción (del español al inglés y al valenciano)";	}


	/* --- EXPERIENCE 01 OTHER --- */

#exp_01 h3::after 		{content:	"RR.HH.";	}
#exp_01 span::after 	{content:	"Fue una mala idea buscar trabajo en mi propia escuela.";	}
#exp_01 h4::after 		{content:	"Departamento de Prácticas en Empresa. Escuela de Ingeniería de Caminos - UPV";	}
#exp_01 p::after 		{content:	"• Entrevistar a los candidatos sobre su experiencia, formación y aptitudes.\a"
					"• Promoción de ofertas y candidatos.\a"
					"• Gestión de bases de datos de estudiantes y empresas.";	}


	/* --- EXPERIENCE 00 ENGINEERING --- */

#exp_00 h3::after 		{content:	"InfoArquitecto";	}
#exp_00 span::after 	{content:	"Echo mucho de menos hacer mapas para videojuegos.";	}
#exp_00 h4::after 		{content:	"Consellería de infraestructuras";	}
#exp_00 p::after 		{content:	"• Infografía creada con GtkRadiant, el editor de escenarios para múltiples videojuegos, entre ellos Quake III Arena.\a"
					"• El objetivo principal era crear un prototipo en 3D del Intercambiador modal de transportes \"Nueva estación de Empalme\" de Valencia.\a"
					"• El Intercambiador modal albergaría la línea L4 del tranvía, la L1 del metro y las líneas L130a y 130b del Metrobús.\a"
					"• Este trabajo sirvió para justificar modificaciones en el proyecto original.";	}

	/* --- | --- */



	/* --- BLOCK 5: PUBLISHABLE --- */

#b_pub > h3::after 		{content:	"TRABAJOS PUBLICABLES";	}


	/* --- PUBLISHABLE WORKS --- */

#pub_08 span::after 	{content:	"Un proyecto muy chulo";}
#pub_08 h3::after 		{content:	"Tránsito";}
#pub_08 h4::after 		{content:
									"Este estudio examina la implantación de servicios C-ITS (Collaborative Intelligent Transport Systems) en España como parte del proyecto europeo C-Roads.";}
#pub_08 p::after 		{content:
									"El objetivo de este proyecto fue analizar el comportamiento de los conductores al encontrarse con un obstáculo en la carretera, con el fin de obtener KPIs de impacto asociados al entorno de Aviso de Obras en Carretera.\a"
									"\a"
									"Las principales responsabilidades implicaron la formulación de algoritmos para el cálculo de KPIs, la implementación de estos algoritmos en Python, la creación de visualizaciones de datos y la redacción de informes técnicos. El código y los resultados están disponibles para su revisión. Es pertinente señalar que no se incluyen los archivos de datos originales, ya que no me pertenecen y yo no los creé.";}

#pub_07 span::after 	{content:	"Más investigación";}
#pub_07 h3::after 		{content:	"Bus-VAO";}
#pub_07 h4::after 		{content:
									"Estudio de la aplicación de C-ITS en carriles bus-VAO.";}
#pub_07 p::after 		{content:
									"El objetivo de este estudio era analizar la utilización de los carriles VAO (Vehículos de alta ocupación) y las posibles aplicaciones de los C-ITS (Cooperative Intelligent Transport Systems) en estos carriles.";}

#pub_06 span::after 	{content:	"Una bonita web y una base de datos innecesariamente compleja";}
#pub_06 h3::after 		{content:	"Web PHP";}
#pub_06 h4::after 		{content:
									"Una web para el GTI-IA (Grupo de Tecnología Informática - Inteligencia Artificial) de la UPV (Universidad Politécnica de Valencia)";}
#pub_06 p::after 		{content:
									"Actualicé el front-end de la web de GTI-IA a una plantilla responsive de Bootstrap y creé nuevas secciones responsive con Bootstrap. También reestructuré el backend a un sitio web dinámico, conectando a una base de datos MySQL existente.\a"
									"\a"
									"Me encargué de migrar el código de PHP 5 a PHP 7, refactorizar y depurar.";}

#pub_05 span::after 	{content:	"Bonita presentación";}
#pub_05 h3::after 		{content:	"Conferen.";}
#pub_05 h4::after 		{content:
									"Conferenciante de la Sociedad Matemática Valenciana en la Universidad de Alicante.";}
#pub_05 p::after 		{content:
									"Al terminar el máster, fui invitado por la Sociedad Matemática Valenciana a presentar las conclusiones de mi tesis en la Universidad de Alicante.\a"
									"\a"
									"Preparé una presentación que ofrecía un resumen de los puntos clave de la tesis. Para más detalles, consulte la propia tesis.";}

#pub_04 span::after 	{content:	"Tesis sobre la investigación educativa";}
#pub_04 h3::after 		{content:	"TFM";}
#pub_04 h4::after 		{content:
									"Detección y Promoción de Altas Capacidades Matemáticas mediante Resolución de Problemas Ricos. Análisis de caso particular: Asperger.";}
#pub_04 p::after 		{content:
									"Poseo un Máster Universitario en Profesor/a de Educación Secundaria por la Universidad de Valencia, en la especialidad de Matemáticas. Mi tesis de máster se centró específicamente en la identificación de la superdotación.\a"
									"\a"
									"Con este trabajo se pretende concienciar al profesorado de que una buena selección de problemas ricos planteados en clase, basados en el temario contemplado en el currículo, pueden ayudarles a detectar -incluso a promover- el talento matemático, sin necesidad de usar tests psicológicos de aptitudes. Se ha realizado una prueba con problemas ricos a 89 alumnos de secundaria y bachillerato, y se han comparado los resultados con las notas de clase. La conclusión es que los problemas ricos son una herramienta complementaria a la evaluación del curso, que puede ser de utilidad para detectar altas capacidades.";}

#pub_03 span::after 	{content:	"Mi primera web profesional";}
#pub_03 h3::after 		{content:	"Web JS";}
#pub_03 h4::after 		{content:
									"Formulario web programado en JavaScript.";}
#pub_03 p::after 		{content:
									"Me encargaron diseñar una aplicación e incorporar una sección web con un formulario de pedidos. Anteriormente, la empresa recibía los pedidos por correo electrónico, teléfono o fax. El objetivo era estandarizar el formato de todos los pedidos.\a"
									"\a"
									"Desarrollé el formulario utilizando JavaScript y un poco de PHP.";}

#pub_02 span::after 	{content:	"Mi primer proyecto profesional (remunerado)";}
#pub_02 h3::after 		{content:	"Rehabilit.";}
#pub_02 h4::after 		{content:
									"Diseño de la rehabilitación de estaciones y casillas de paso a nivel.";}
#pub_02 p::after 		{content:
									"Se me asignó la responsabilidad de preparar el presupuesto y los planos arquitectónicos para la rehabilitación de las estaciones y las casillas de paso a nivel del antiguo ferrocarril minero de Sierra Menera, actual Vía Verde de Ojos Negros.\a"
									"\a"
									"El objetivo de estas estaciones era proporcionar alojamiento a las personas que se desplazaban por la Vía Verde.";}

#pub_01 span::after 	{content:	"Proyecto Final de Carrera: EDAR";}
#pub_01 h3::after 		{content:	"PFC";}
#pub_01 h4::after 		{content:
									"EDAR (Estación Depuradora de Aguas Residuales) de Aireación Prolongada en medio rural, en La Rioja.";}
#pub_01 p::after 		{content:
									"La Aireación Prolongada es un sistema de fangos activos, donde la biomasa se encuentra en respiración endógena; es decir, que la edad del fango es lo suficientemente alta como para que la concentración de substrato sin asimilar sea baja, y por tanto trabajemos con cargas másicas bajas.\a"
									"\a"
									"La gran ventaja de la oxidación prolongada es que el gran tiempo de  retención en el reactor biológico nos permite la supresión del decantador primario y por la misma razón se producen menos fangos ya que muchos se digieren en el propio reactor. Además son depuradoras fáciles de construir, con costes de explotación bajos, comparados con cualquier otro tipo de fangos activos, y que nos suelen necesitar de personal excesivamente especializado para su explotación y mantenimiento.";}

#pub_00 span::after 	{content:	"Mooooola";}
#pub_00 h3::after 		{content:	"Quake III";}
#pub_00 h4::after 		{content:
									"Modelo 3D de Estación de Metro.";}
#pub_00 p::after 		{content:
									"La infografía se creó con GtkRadiant, un editor de escenarios que se ha empleado en numerosos videojuegos, entre ellos Quake III Arena.\a"
									"\a"
									"El objetivo principal era crear un prototipo en 3D del centro de transportes previsto en Valencia, la Nueva estación de Empalme. El intercambiador servirá de terminal para el tranvía L4, el metro L1 y las líneas L130a y 130b del Metrobús. Este trabajo se realizó para apoyar las modificaciones del diseño original del proyecto.";}


.pub h5::after 			{content:	"Archivos en mi repo";}

/* --- | --- */



	/* --- BLOCK 3: SKILLS --- */

#b_ski h3::after 		{content:	"HABILIDADES";	}


	/* --- LANGUAGES --- */

#ski_h4_l::after 	{content:	"Idiomas";	}


	/* --- LANGUAGE 03 GERMAN --- */

#lan_03 h3::after 		{content:	"Alemán";	}
#lan_03 span::after 	{content:	":/";	}
#lan_03 h4::after 		{content:	"Elemental";	}
#lan_03 p::after 		{content:	"• Cert. A1 EOI.\a"
					"• Sólo un año. ";	}


	/* --- LANGUAGE 02 FRENCH --- */

#lan_02 h3::after 		{content:	"Francés";	}
#lan_02 span::after 	{content:	":/";	}
#lan_02 h4::after 		{content:	"Elemental";	}
#lan_02 p::after 		{content:	"• Cert. A1 EOI.\a"
					"• Sólo un año. ";	}


	/* --- LANGUAGE 01 VALENCIAN --- */

#lan_01 h3::after 		{content:	"Valenciano";	}
#lan_01 span::after 	{content:	":)";	}
#lan_01 h4::after 		{content:	"Bilingüe";	}
#lan_01 p::after 		{content:	"• Cert. C1 JQCV.\a"
					"• Valenciano / Catalán. ";	}


	/* --- LANGUAGE 00 ENGLISH --- */

#lan_00 h3::after 		{content:	"Inglés";	}
#lan_00 span::after 	{content:	":)";	}
#lan_00 h4::after 		{content:	"Superior";	}
#lan_00 p::after 		{content:	"• Cert. C1 EOI.";	}

	/* --- | --- */


	/* --- SOFTWARE --- */

#ski_h4_s::after 	{content:	"Software";	}


	/* --- SOFTWARE 03 EDU --- */

#sof_03 h3::after 		{content:	"Educativo";	}
#sof_03 span::after 	{content:	":/";	}
#sof_03 h4::after 		{content:	"Clase";	}
#sof_03 p::after 		{content:	"• Geogebra (Geometría dinámica para la didáctica de las matemáticas). ";	}


	/* --- SOFTWARE 02 DESIGN --- */

#sof_02 h3::after 		{content:	"Diseño";	}
#sof_02 span::after 	{content:	":')";	}
#sof_02 h4::after 		{content:	"Viejos Proyectos Prof. & Pers.";	}
#sof_02 p::after 		{content:	"• GIMP.\a"
					"• Dreamweaver.\a"
					"• PhoneGap.\a"
					"• Mobincube.\a"
					"• GtkRadiant (similar a 3D Studio).";	}


	/* --- SOFTWARE 01 PROGRAMMING --- */

#sof_01 h3::after 		{content:	"Programación";	}
#sof_01 span::after 	{content:	"btw :D";	}
#sof_01 h4::after 		{content:	"Proyectos Prof. & Personales";	}
#sof_01 p::after 		{content:	"• Python (Pandas, NumPy, Geopy).\a"
					"• HTML5, CSS3.\a"
					"• JavaScript, jQuery.\a"
					"• PHP, MySQL.\a"
					"• Git (Codeberg, GitLab).\a"
					"• Fortran. ";	}


	/* --- SOFTWARE 00 ENGINEERING --- */

#sof_00 h3::after 		{content:	"Ingeniería";	}
#sof_00 span::after 	{content:	"Trust me ;P";	}
#sof_00 h4::after 		{content:	"Profesional";	}
#sof_00 p::after 		{content:	"• Autocad.\a"
					"• Revit Architecture (BIM).\a"
					"• CYPE.\a"
					"• Presto.\a"
					"• Premeti.\a"
					"• Clip (Tool S.A.).";	}

	/* --- | --- */



	/* --- BLOCK 4: CERTIFICATES --- */

#b_cer h3::after 		{content:	"CURSOS Y CERTIFICADOS";	}


	/* --- CERTIFICATES 00 ENGINEERING --- */

#cer_h4_eng::after 	{content:	"Ingeniería Civil";	}

#cer_e::after 			{content:	"Coordinador en materia de seguridad y salud (+500h).";	}


	/* --- CERTIFICATES 00 PROGRAMMING --- */

#cer_h4_prog::after 	{content:	"Programación";	}

#cer_p::after 			{content:	"Programador de aplicaciones informáticas. (Diseño y programación web y móvil, +1.000 h, CPN3).";	}

	/* --- | --- */



	/* --- BLOCK 6: INTERESTS --- */

#b_int h3::after 		{content:	"INFORMACIÓN ADICIONAL";	}
#int_h4::after 			{content:	"Intereses";	}


	/* --- EXTRA INTERESTS --- */

#int_02 h3::after 		{content:	"En casa";				}
#int_02 span::after 	{content:	"Para eludir las limitaciones de la realidad";	}
#int_02 p::before 		{content:	"Literatura del s. XIX\a"
									"Cine clásico (anterior a 1970)";	}


#int_01 h3::after 		{content:	"Fuera";				}
#int_01 span::after 	{content:	"Para comprender el mundo";	}
#int_01 p::before 		{content:	"Senderismo\a"
									"Patrimonio cultural";	}


#int_00 h3::after 		{content:	"Cacharros";				}
#int_00 span::after 	{content:	"GAFAM no";	}
#int_00 p::before 		{content:	"Privacidad";	}
#int_00 a::after 		{content:	"LC: 133395";	}

	/* --- | --- */



	/* --- FOOTER --- */

#p_free::before			{content:	"Esta web está";	}
#free::after			{content:	"libre ";	}
#p_free::after			{content:	"de cookies y javascript.";	}
#js::after				{content:	"JS se ejecuta en el cliente, por lo que lo considero invasivo.";	}

	/* --- | --- */

}
